<div class="form-group">
    <label class="col-sm-2 control-label">Препроцессинг номеров</label>
    <div class="col-sm-10">
        <table class="table table-striped">
            <tbody ui-sortable="{axis: 'y'}" ng-model="item.numberPreprocessing">
            <tr ng-repeat="line in item.numberPreprocessing">
                <td width="7%" style="cursor: ns-resize">
                    <span ng-if="line.abc_mode == 1" class="label label-default">A-номер</span>
                    <span ng-if="line.abc_mode == 2" class="label label-default">B-номер</span>
                    <span ng-if="line.abc_mode == 3" class="label label-default">C-номер</span>
                </td>
                <td width="15%">
                    <select ui-select2 ng-model="line.mod_type" placeholder="round" style="width: 100%" >
                        <option ng-repeat="numPreproc in trunkNumberPreprocessingType" value="{{numPreproc.id}}">{{numPreproc.name}}</option>
                    </select>
                </td>
                <td width="5%" style="cursor: ns-resize">
                    NOA:
                </td>
                <td width="5%">
                    <input class="form-control input-sm" ng-model="line.noa"/>
                </td>

                <!--Старый способ с префиксом-->
                <td ng-if="preprocPrefix(line)" width="5%" style="cursor: ns-resize">
                    Длина&nbsp;номера:
                </td>
                <td ng-if="preprocPrefix(line)" width="10%">
                    <input class="form-control input-sm" ng-model="line.length" required />
                </td>
                <td ng-if="preprocPrefix(line)" width="5%" style="cursor: ns-resize">
                    Префикс:
                </td>
                <td ng-if="preprocPrefix(line)" width="10%">
                    <input class="form-control input-sm" ng-model="line.prefix" required />
                </td>

                <!-- Начало/Конец -->
                <td ng-if="preprocPosRange(line)" width="5%" style="cursor: ns-resize">
                    Начало:
                </td>
                <td ng-if="line.mod_type == 1" width="5%" style="cursor: ns-resize">
                    Позиция:
                </td>
                <td ng-if="preprocPosRange(line) || line.mod_type == 1" width="10%">
                    <input class="form-control input-sm" ng-model="line.start_pos" required />
                </td>
                <td ng-if="preprocPosRange(line)" width="10%" style="cursor: ns-resize">
                    Конец:
                </td>
                <td ng-if="preprocPosRange(line)" width="10%">
                    <input class="form-control input-sm" ng-model="line.end_pos" required />
                </td>

                <td ng-if="preprocValue(line)" width="5%" style="cursor: ns-resize">
                    Regex:
                </td>
                <td ng-if="preprocValue(line)" width="10%">
                    <input class="form-control input-sm" ng-model="line.regex" />
                </td>

                <td ng-if="preprocValue(line)" width="5%" style="cursor: ns-resize">
                    Значение:
                </td>
                <td ng-if="preprocValue(line)" width="10%">
                    <input class="form-control input-sm" ng-model="line.mod_value" required />
                </td>

                <td ng-if="!preprocPosRange(line) || line.mod_type == 3" width="5%" style="cursor: ns-resize"> </td>
                <td ng-if="!preprocPosRange(line) || line.mod_type == 3" width="10%"> </td>
                <td ng-if="!preprocPosRange(line) && line.mod_type != 1" width="5%" style="cursor: ns-resize"> </td>
                <td ng-if="!preprocPosRange(line) && line.mod_type != 1" width="10%"> </td>
                <td ng-if="line.mod_type == 3" width="5%" style="cursor: ns-resize"> </td>
                <td ng-if="line.mod_type == 3" width="10%"> </td>
                
                <td>
                    <comment-icon key="{{line.id}}" type="trunk_preprocessing" comment="line.object_comment"></comment-icon>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeNumberPreprocessing($index)"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="9">
                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(1)"><i class="glyphicon glyphicon-plus"></i> А-номер</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(2)"><i class="glyphicon glyphicon-plus"></i> B-номер</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(3)"><i class="glyphicon glyphicon-plus"></i> C-номер</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
