<div class="form-group">
    <label class="col-sm-2 control-label">Препроцессинг номеров</label>
    <div class="col-sm-10">
        <table class="table table-striped">
            <tbody ui-sortable="{axis: 'y'}" ng-model="item.numberPreprocessing">
            <tr ng-repeat="line in item.numberPreprocessing">
                <td width="20%" style="cursor: ns-resize">
                    <span ng-if="line.src" class="label label-default">A-номер</span>
                    <span ng-if="!line.src" class="label label-default">B-номер</span>
                </td>
                <td width="5%" style="cursor: ns-resize">
                    NOA:
                </td>
                <td width="20%">
                    <input class="form-control input-sm" ng-model="line.noa" required />
                </td>
                <td width="5%" style="cursor: ns-resize">
                    Длина&nbsp;номера:
                </td>
                <td width="20%">
                    <input class="form-control input-sm" ng-model="line.length" required />
                </td>
                <td width="5%" style="cursor: ns-resize">
                    Префикс:
                </td>
                <td width="20%">
                    <input class="form-control input-sm" ng-model="line.prefix" required />
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeNumberPreprocessing($index)"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(true)"><i class="glyphicon glyphicon-plus"></i> А-номер</button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(false)"><i class="glyphicon glyphicon-plus"></i> B-номер</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>