<div class="form-group">
    <label class="col-sm-2 control-label">Передать в СОРМ</label>
    <div class="col-sm-10">
        <div class="btn-group" ng-click="item.sorm.enabled = !item.sorm.enabled">
            <button type="button" class="btn btn-sm {{item.sorm.enabled ? 'btn-success active' : 'btn-default'}}">Да</button>
            <button type="button" class="btn btn-sm {{!item.sorm.enabled ? 'btn-primary active' : 'btn-default'}}">Нет</button>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Название</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Название" ng-model="item.sorm.name" ng-disabled="!item.sorm.enabled" ng-required="item.sorm.enabled"/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Группы</label>
    <div class="col-sm-10">
        <select ui-select2 ng-disabled="!item.sorm.enabled" ng-model="item.sorm.groups" multiple="multiple" style="width: 100%" >
            <option ng-repeat="group in groupTypes" value="{{::group.id}}">{{::group.name}}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tbody ui-sortable="{axis: 'y'}" ng-model="item.sorm.items">
            <tr ng-repeat="line in item.sorm.items">
                <td width="7%">
                </td>
                <td width="5%">
                    <button ng-if="line.is_show" ng-click="line.is_show = !line.is_show" class="btn label label-success">Выгружать</button>
                    <button ng-if="!line.is_show" ng-click="line.is_show = !line.is_show" class="btn label label-danger">Не выгружать</button>
                </td>
                <td width="5%" style="cursor: ns-resize">
                    <span>Имя транка:</span>
                </td>
                <td width="70%">
                    <input class="form-control" placeholder="Название" ng-model="line.old_name" ng-disabled="!item.sorm.enabled" required/>
                </td>
                <td width="10%">
                    &nbsp;
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeSormItem($index)"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td colspan="6">
                    <button type="button" class="btn btn-success btn-xs" ng-click="addSormItem()"><i class="glyphicon glyphicon-plus"></i> СОРМ транк</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>