<div class="form-group">
    <label class="col-sm-2 control-label">Название</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Название" ng-model="item.name" required />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Имя транка</label>
    <div class="col-sm-4">
        <input class="form-control" placeholder="Route name" ng-model="item.trunk_name" required />
    </div>

    <label class="col-sm-1 control-label">Alias</label>
    <div class="col-sm-5">
        <input class="form-control" placeholder="Route name (Alias)" ng-model="item.trunk_name_alias" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Емкость транка</label>
    <div class="col-sm-1">
        <input class="form-control" placeholder="Емкость транка" ng-model="item.capacity" />
    </div>

    <label class="col-sm-2 control-label">Порог загрузки %:</label>
    <div class="col-sm-1">
        <input class="form-control" placeholder="Порог загрузки" ng-model="item.load_warning" />
    </div>

    <label class="col-sm-1 control-label">id_pbx</label>
    <div class="col-sm-1">
        <input class="form-control" placeholder="id_pbx" ng-model="item.id_pbx" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Road to regions:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Путь в регион" ng-model="item.road_to_regions" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Trace to regions:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Трэйс в регион" ng-model="item.trace_to_regions" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Имя встречного транка:</label>
    <div class="col-sm-10">
        <input class="form-control" placeholder="Имя встречного транка" ng-model="item.back_trunk" />
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Автоматическая маршрутизация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.auto_routing = !item.auto_routing">
                <button type="button" class="btn btn-sm {{item.auto_routing ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.auto_routing ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Технический транк</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.tech_trunk = !item.tech_trunk">
                <button type="button" class="btn btn-sm {{item.tech_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.tech_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Redirecting Терминация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.term_redirect_number = !item.term_redirect_number">
                <button type="button" class="btn btn-sm {{item.term_redirect_number ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.term_redirect_number ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Авторизация по номеру</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.auth_by_number = !item.auth_by_number">
                <button type="button" class="btn btn-sm {{item.auth_by_number ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.auth_by_number ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Наш транк</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.our_trunk = !item.our_trunk">
                <button type="button" class="btn btn-sm {{item.our_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.our_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Redirecting Оригинация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.orig_redirect_number = !item.orig_redirect_number; item.orig_redirect_number_7800 = item.orig_redirect_number ? false : orig_redirect_number_7800">
                <button type="button" class="btn btn-sm {{item.orig_redirect_number ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.orig_redirect_number ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Показывать в СТАТ</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.show_in_stat = !item.show_in_stat">
                <button type="button" class="btn btn-sm {{item.show_in_stat ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.show_in_stat ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Тех. номер 7800</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.orig_redirect_number_7800 = !item.orig_redirect_number_7800; item.orig_redirect_number = item.orig_redirect_number_7800 ? false : item.orig_redirect_number">
                <button type="button" class="btn btn-sm {{item.orig_redirect_number_7800 ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.orig_redirect_number_7800 ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">МГ/МН-терминация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.mgmn_trunk = !item.mgmn_trunk">
                <button type="button" class="btn btn-sm {{item.mgmn_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.mgmn_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Доступен на хабе</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">le8accept</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.le8accept = !item.le8accept">
                <button type="button" class="btn btn-sm {{item.le8accept ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.le8accept ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">МГ/МН-оригинация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.mgmn_orig_trunk = !item.mgmn_orig_trunk">
                <button type="button" class="btn btn-sm {{item.mgmn_orig_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.mgmn_orig_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Участвует на бирже</label>
        <div class="col-sm-4">
            <div popover="У транка есть настройки на бирже" data-popover-trigger="{{hasPopover()}}" popover-placement="bottom" ng-disabled="item.used_in_marketplace" class="btn-group" ng-click="!item.used_in_marketplace ? item.uplink_trunk = !item.uplink_trunk : ''">
                <button ng-disabled="item.used_in_marketplace" type="button" class="btn btn-sm {{item.uplink_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button ng-disabled="item.used_in_marketplace" type="button" class="btn btn-sm {{!item.uplink_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">PSTN транк</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.pstn_trunk = !item.pstn_trunk">
                <button type="button" class="btn btn-sm {{item.pstn_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.pstn_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">МГ/МН2-терминация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.mgmn2_term = !item.mgmn2_term">
                <button type="button" class="btn btn-sm {{item.mgmn2_term ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.mgmn2_term ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">RN прайс-лист</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.rn_pricelist = !item.rn_pricelist">
                <button type="button" class="btn btn-sm {{item.rn_pricelist ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.rn_pricelist ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Transparent header</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.transparent_header = !item.transparent_header">
                <button type="button" class="btn btn-sm {{item.transparent_header ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.transparent_header ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">МГ/МН2-оригинация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.mgmn2_orig = !item.mgmn2_orig">
                <button type="button" class="btn btn-sm {{item.mgmn2_orig ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.mgmn2_orig ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Разрешить autocall</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.autocall = !item.autocall">
                <button type="button" class="btn btn-sm {{item.autocall ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.autocall ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Внутренний транк</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.internal_trunk = !item.internal_trunk">
                <button type="button" class="btn btn-sm {{item.internal_trunk ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.internal_trunk ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Роуминг терминация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.roaming_term = !item.roaming_term">
                <button type="button" class="btn btn-sm {{item.roaming_term ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.roaming_term ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Не копировать С в А</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.no_copy_numc_to_numa = !item.no_copy_numc_to_numa">
                <button type="button" class="btn btn-sm {{item.no_copy_numc_to_numa ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.no_copy_numc_to_numa ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label class="col-sm-8 control-label">Роуминг оригинация</label>
        <div class="col-sm-4">
            <div class="btn-group" ng-click="item.roaming_orig = !item.roaming_orig">
                <button type="button" class="btn btn-sm {{item.roaming_orig ? 'btn-success active' : 'btn-default'}}">Да</button>
                <button type="button" class="btn btn-sm {{!item.roaming_orig ? 'btn-primary active' : 'btn-default'}}">Нет</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Таблица маршрутизации</label>
    <div class="col-sm-10">
        <select-box list="routeTable" model="item.route_table_id" default="Выберите таблицу маршрутизации"></select-box>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Округление времени звонка</label>
    <div class="col-sm-10">
        <select ui-select2 ng-model="item.rounding_type" default="1" style="width: 100%" requred>
            <option value="1">В меньшую сторону</option>
            <option value="2">В большую сторону</option>
            <option value="3">По стандартным правилам округления</option>
        </select>
    </div>
</div>