<form class="form-horizontal" name="form">
    <div class="modal-header">
        <h3>Коммерция прайслиста {{item.id}}</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>Trunk</th>
                <th>Service Trunk</th>
            </tr>
            <tr ng-repeat="row in list">
                <td><a href="#" ng-click="openTrunk(row.p_trunk_id, row.p_trunk_server_id)">{{row.p_trunk_name}}</a></td>
                <td><a target="blank" href="https://stat.mcn.ru/uu/account-tariff/edit?id={{row.l_trunk_id}}">{{row.l_trunk_id}}</a></td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
