<h4>
    Поиск в прайслистах v2
    <button type="submit" class="btn btn-success search-form-button" ng-click="clickSearch()">Поиск</button>
    <button type="submit" ng-hide="hideFilter" class="btn btn-warning search-form-button" ng-click="hideFilter = true">Скрыть фильтр</button>
    <button type="submit" ng-hide="!hideFilter" class="btn btn-info search-form-button" ng-click="hideFilter = false">Показать фильтр</button>
</h4>

<form ng-hide="hideFilter">
    <div class="form-group">
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">Время</label>
                <div class="col-sm-10 search-input">
                    <input class="form-control" placeholder="now()" ng-model="item.timestamp">
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Номер А</label>
                <div class="col-sm-10 search-input">
                    <input class="form-control" placeholder="79587980123" ng-model="item.number_a">
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Номер B</label>
                <div class="col-sm-10 search-input">
                    <input class="form-control" placeholder="79587980123" ng-model="item.number_b">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">MCC</label>
                <div class="col-sm-10 search-input">
                    <input class="form-control" placeholder="123" ng-model="item.mcc">
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Страна A</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.a_country_id" style="width: 100%" >
                        <option ng-repeat="country in countryListA" value="{{::country.code}}">{{::country.name_rus}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Страна B</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.b_country_id" style="width: 100%" >
                        <option ng-repeat="country in countryListB" value="{{::country.code}}">{{::country.name_rus}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">MNC</label>
                <div class="col-sm-10 search-input">
                    <input class="form-control" placeholder="45" ng-model="item.mnc">
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Регион A</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.a_region_id" style="width: 100%" >
                        <option ng-repeat="region in regionListA" value="{{::region.id}}">{{::region.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Регион B</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.b_region_id" style="width: 100%" >
                        <option ng-repeat="region in regionListB" value="{{::region.id}}">{{::region.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">Location</label>
                <div class="col-sm-10 search-input">
                    <select class="search-form-select" ui-select2 style="width: 100%" tags="true" ng-model="item.location_id" placeholder="Местоположение">
                        <option value="">-- Выберите --</option>
                        <option ng-repeat="location in locationList" value="{{location.id}}">{{location.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Город A</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.a_city_id" style="width: 100%" >
                        <option ng-repeat="city in cityListA" value="{{::city.id}}">{{::city.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Город B</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.b_city_id" style="width: 100%" >
                        <option ng-repeat="city in cityListB" value="{{::city.id}}">{{::city.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-1 search-field-label">Направление</label>
                <div class="col-sm-5 search-input">
                    <div class="btn-group">
                        <button type="button" class="btn {{item.is_orig ? 'btn-primary active' : 'btn-default'}}" ng-click="item.is_orig = true">Оригинация</button>
                        <button type="button" class="btn {{!item.is_orig ? 'btn-danger active' : 'btn-default'}}" ng-click="item.is_orig = false">Терминация</button>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Оператор A</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.a_operator_id" style="width: 100%" >
                        <option ng-repeat="operator in operatorListA" value="{{::operator.id}}">{{::operator.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Оператор B</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.b_operator_id" style="width: 100%" >
                        <option ng-repeat="operator in operatorListB" value="{{::operator.id}}">{{::operator.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">Тип прайса</label>
                <div class="col-sm-10 search-input">
                    <select class="search-form-select" ui-select2 style="width: 100%" tags="true" ng-model="item.service_type_id" placeholder="Тип прайслиста">
                        <option value="">-- Выберите --</option>
                        <option value="1">Голос</option>
                        <option value="2">СМС</option>
                        <option value="3">Data</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Тип NDC A</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.a_ndc_id" style="width: 100%" >
                        <option ng-repeat="ndcType in ndcTypeList" value="{{::ndcType.id}}">{{::ndcType.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Тип NDC B</label>
                <div class="col-sm-10 search-input">
                    <select ui-select2 ng-model="item.b_ndc_id" style="width: 100%" >
                        <option ng-repeat="ndcType in ndcTypeList" value="{{::ndcType.id}}">{{::ndcType.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<div ng-hide="!isLoading" class="row">
    <div class="form-group col-sm-12" style="text-align: center;">
        Идет загрузка данных...
    </div>
</div>

<div ng-hide="!noData" class="row">
    <div class="form-group col-sm-12" style="text-align: center;">
        Нет данных.
    </div>
</div>

<table ng-hide="noData" class="table table-striped table-hover table-condensed" >
    <thead>
    <tr>
        <th width="5%">
            Прайслист
        </th>
        <th width="5%">
            Цена
        </th>
        <th width="5%">
            Валюта
        </th>
        <th width="5%">
            Дата создания
        </th>
        <th width="5%">
            Дата активации
        </th>
        <th width="5%">
            Местоположение
        </th>
        <th width="5%">
            Фильтр А
        </th>
        <th width="5%">
            Фильтр В
        </th>
        <th width="5%">
            Префикс прайса
        </th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in list | orderBy:sortType:sortReverse">
        <td style="cursor: pointer" ng-click="clickPricelist(item)">{{item.pricelist_id}}{{item.pricelist_name ? ': ' + item.pricelist_name : ''}}</td>
        <td style="cursor: pointer" ng-click="clickPricelist(item)">{{item.price}}</td>
        <td style="cursor: pointer" ng-click="clickPricelist(item)">{{item.currency}}</td>
        <td style="cursor: pointer" ng-click="clickPricelist(item)">{{item.date_created}}</td>
        <td style="cursor: pointer" ng-click="clickPricelist(item)">{{item.date_start}}</td>
        <td style="cursor: pointer" ng-click="clickLocation(item)">{{item.location_id}}</td>
        <td style="cursor: pointer" ng-click="clickFilterA(item)">{{item.filter_a}}</td>
        <td style="cursor: pointer" ng-click="clickFilterB(item)">{{item.filter_b}}</td>
        <td style="cursor: pointer" ng-click="clickPrefixPrice(item)">{{item.prefix}}</td>
    </tr>

    </tbody>
</table>