<form class="form-horizontal" name="form" ng-if="item" novalidate>
  <div class="modal-header">
    <h3 ng-if="item.id">Редактирование сервера №{{item.id}}</h3>
    <h3 ng-if="!item.id">Новый сервер</h3>
  </div>

  <div class="modal-body">
    <!-- ID -->
    <div class="form-group">
      <label class="col-sm-2 control-label">ID</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               ng-model="item.id"
               placeholder="Введите ID сервера"
               required />
      </div>
    </div>

    <!-- Название -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Название</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               ng-model="item.name"
               placeholder="Введите название"
               required />
      </div>
    </div>

    <!-- IP адрес -->
    <div class="form-group">
      <label class="col-sm-2 control-label">IP адрес</label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               ng-model="item.ip"
               placeholder="Введите IP"/>
      </div>
    </div>

    <!-- Контактная информация -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Контактная инфо</label>
      <div class="col-sm-10">
        <textarea class="form-control"
                  ng-model="item.contact_info"
                  placeholder="Контактная информация"></textarea>
      </div>
    </div>
    <!-- Физический адрес -->
      <div class="form-group">
    <label class="col-sm-2 control-label">Физический адрес</label>
    <div class="col-sm-10">
      <textarea class="form-control"
                ng-model="item.address"
                placeholder="Введите физический адрес"></textarea>
    </div>
  </div>

    <!-- URL интерфейса -->
    <div class="form-group">
      <label class="col-sm-2 control-label">URL интерфейса</label>
      <div class="col-sm-10">
        <input type="url"
               class="form-control"
               ng-model="item.interface_url"
               placeholder="Введите URL" />
      </div>
    </div>

    <!-- Dashboards (JSON) -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Dashboards (JSON)</label>
      <div class="col-sm-10">
        <textarea class="form-control"
                  ng-model="item.dashboards"
                  placeholder='{"key": "value"}'></textarea>
      </div>
    </div>

<div class="form-group">
  <label class="col-sm-2 control-label">Префикс-лист (аварийный)</label>
  <div class="col-sm-10">
    <select class="form-control"
            ng-model="item.antifraud_proxy_timeout_prefixlist_id"
            ng-options="pl.id as pl.name for pl in prefixlistList">
      <option value="">-- Выберите префикс-лист --</option>
    </select>
  </div>
</div>

    <!-- Ошибки валидации -->
    <div class="alert alert-danger" ng-if="errors">
      <ul>
        <li ng-repeat="(field, msgs) in errors">
          <span ng-repeat="msg in msgs">{{ msg }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit"
            class="btn btn-primary"
            ng-click="save()"
            ng-disabled="form.$invalid || $root.isAjaxLoading"
            ng-if="userPermissions['billing_servers_edit']">
      Сохранить
    </button>
    <button type="button"
            class="btn btn-default"
            ng-click="back()">
      Отмена
    </button>
  </div>
</form>