<form class="form-horizontal" name="form">
    <div class="modal-header">
        <h3>Комментарий для сущности {{objectTypeName}}, #ID: {{objectId}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Комментарий</label>
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="Комментарий" ng-model="objectComment"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
