<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">IMSI партнер {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание IMSI партнера</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Транк оригинации</label>
            <div class="col-sm-10">
                <select-box list="trunk" model="item.orig_trunk_id" placeholder="Выберите транк оригинации" required="true"></select-box>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Транк терминации</label>
            <div class="col-sm-10">
                <select-box list="trunk" model="item.term_trunk_id" placeholder="Выберите транк терминации" required="true"></select-box>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Регион подключения партнера</label>
            <div class="col-sm-10">
                <select-box list="server" model="item.mvno_region_id" placeholder="Регион подключения партнера" required="true"></select-box>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Местоположение</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.location_id" placeholder="Местоположение" style="width: 100%" >
                    <option ng-repeat="locationItem in location" value="{{locationItem.id}}">{{locationItem.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Активен</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.is_active = !item.is_active">
                    <button type="button" class="btn btn-sm {{item.is_active ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.is_active ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
