<div class="wrap">
    <h4>SMS</h4>
    <div style="position: fixed; left: 15px; bottom: 0; top: 100px; width: 230px; overflow-y: auto">
        <div class="list-group">
        <a class="list-group-item"
            ng-click="Redirect.smsGateList()"
            ng-class="{active: tabs.isController('SmsGateListCtrl')}">
            Шлюзы
        </a>
        <a class="list-group-item"
            ng-click="Redirect.smsTrunkList()"
            ng-class="{active:tabs.isController('SmsTrunkListCtrl')}">
            SMS Коннекторы
        </a>
        <a class="list-group-item"
            ng-click="Redirect.smsRouteTableList()"
            ng-class="{active:tabs.isController('SmsRouteTableListCtrl')}">
            Таблицы маршрутизации
        </a>
        </div>
        <div class="list-group">
            <a class="list-group-item" ng-click="Redirect.smsTestAuthList()" ng-class="{active:tabs.isController('SmsTestAuthListCtrl')}">Тесты маршрутизации</a>
            <a class="list-group-item" ng-click="Redirect.testSmsPricelistList()" ng-class="{active:tabs.isController('TestSmsPricelistListCtrl')}">Тесты СМС прайслистов</a>            
            <a class="list-group-item" ng-click="Redirect.smsTestGroupList()" ng-class="{active:tabs.isController('SmsTestGroupListCtrl')}">Группы тестов</a>            
        </div>
        <div class="list-group">
            <a class="list-group-item" ng-click="Redirect.smsOutcomeList()" ng-class="{active:tabs.isController('SmsOutcomeListCtrl')}">Outcomes</a>
        </div>
        <div class="list-group">
            <a class="list-group-item" ng-click="Redirect.alphaNumberList()" ng-class="{active:tabs.isController('AlphaNumberListCtrl')}">Альфа номера</a>
            <a class="list-group-item" ng-click="Redirect.alphaNumberGroupList()" ng-class="{active:tabs.isController('AlphaNumberGroupListCtrl')}">Группы альфа номеров</a>
        </div>
        <div class="list-group">
            <a class="list-group-item" ng-click="Redirect.smscCdrRead()" ng-class="{active:tabs.isController('SmscCdrReportReadCtrl')}">SMSC CDR</a>
        </div>
        <div class="list-group">
            <a class="list-group-item" ng-click="Redirect.smsCdrRead()" ng-class="{active:tabs.isController('SmsCdrReportReadCtrl')}">SMS CDR</a>
        </div>
        <div class="list-group">
            <a class="list-group-item" ng-click="Redirect.a2pSmsCdrReportRead()" ng-class="{active: tabs.isController('A2pSmsCdrReportReadCtrl')}">A2P SMS CDR</a>
        </div>
    </div>

    <div style="position: fixed; overflow: auto; bottom: 0; right: 0; top: 60px; padding-left: 20px; padding-right: 20px; left: 250px;':'left: 0;">
        <tabset class="main-tabs" ng-show="tabs.length > 0" vertical="true" type="'pills'">
            <tab ng-repeat="tab in tabs" active="tab.active" ng-controller="tab.controller">
                <ng-include src="tab.template" onload="init(tab)"></ng-include>
            </tab>
        </tabset>
    </div>
</div>

<div id="popup-alert" class="alert alert-danger" style="cursor: pointer; position: absolute; left: 20%; right: 20%; top: 45px; z-index: 5000;" ng-if="popupErrors"  ng-click="closeErrorsPopup()">
    <button type="button" class="close" ng-click="closeErrorsPopup()"><span aria-hidden="true">×</span></button>
    <h4 ng-if="popupErrors.header">{{popupErrors.header}}</h4>
    <p ng-repeat="error in popupErrors.errors">{{error}}</p>
</div>