<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">MCC {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание MCC</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">MCC</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="MCC" ng-model="item.mcc" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Страна</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Страна" ng-model="item.country" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">ISO</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="ISO" ng-model="item.iso" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Код страны</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Код страны" ng-model="item.country_code" required>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
