<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">A/B номер {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание номера</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Тип</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.auto_routing = !item.auto_routing">
                    <button type="button" class="btn {{item.type_id == 1 ? 'btn-primary active' : 'btn-default'}}" ng-click="item.type_id = 1">A - номер</button>
                    <button type="button" class="btn {{item.type_id == 2 ? 'btn-primary active' : 'btn-default'}}" ng-click="item.type_id = 2">B - номер</button>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Показыть в СТАТ</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.show_in_stat = !item.show_in_stat">
                    <button type="button" class="btn {{item.show_in_stat ? 'btn-success active' : 'btn-default'}}">Показывать</button>
                    <button type="button" class="btn {{!item.show_in_stat ? 'btn-primary active' : 'btn-default'}}">Не показывать</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Доступен на хабе</label>
                <div class="col-sm-10">
                    <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                    <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Список префиксов</label>
            <div class="col-sm-10">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="line in item.prefixlist_ids">
                        <td width="100%">
                            <select-box list="prefixlist" model="line.id" placeholder="Выберите список префиксов" required="true"></select-box>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removePrefixlist($index)"></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <button type="button" class="btn btn-success btn-xs" ng-click="addPrefixlist()"><i class="glyphicon glyphicon-plus"></i> Список префиксов</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Выгрузка</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">AIRP</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="AIRP" ng-model="export.airp">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">OUTCOME</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="AIRP=outcome_airp" ng-model="export.outcome">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">OUTCOME NEXT</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="AIRP=outcome_next_airp" ng-model="export.outcome_next">
                    </div>
                </div>
                <div>
                    <a class="btn btn-default btn-sm"  target="_blank" href="/number/export?serverId={{server.id}}&numberId={{item.id}}&airp={{export.airp}}&outcome={{export.outcome}}&outcomeNext={{export.outcome_next}}">Выгрузить</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
