<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Outcome {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание Outcome</h3>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#outcome-tab" data-toggle="tab">Outcome</a></li>
            <li ng-if="item.id"><a href="#outcome-route-table-usages-tab" data-toggle="tab">Таблицы маршрутизации</a></li>
        </ul>

        <br/>

        <div class="tab-content">
            <div class="tab-pane active" id="outcome-tab">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Название" ng-model="item.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-sm-2 control-label"></span>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_AUTOMATIC ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_AUTOMATIC)">Автоматически
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_AUTOMATIC_2 ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_AUTOMATIC_2)">Автоматически 2
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_ROUTE_CASE ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_ROUTE_CASE)">Route case
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_RELEASE_REASON ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_RELEASE_REASON)">Release reason
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_AIRP ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_AIRP)">AIRP
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_ACCEPT ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_ACCEPT)">Accept
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_MEG_TO_REG ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_MEG_TO_REG)">Meg-to-Reg
                            </button>
                            <button type="button"
                                    class="btn {{item.type_id == TYPE_ID_MEG_TO_MEG ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_MEG_TO_MEG)">Meg-to-Meg
                            </button>

                            <!-- Спрятано до лучших времен -->

                            <button type="button" ng-hide="true"
                                    class="btn {{item.type_id == TYPE_ID_TRUNK_GROUP ? 'btn-primary active' : 'btn-default'}}"
                                    ng-click="setType(TYPE_ID_TRUNK_GROUP)">Trunk group
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE">
                    <label class="col-sm-2 control-label">Route case 1</label>
                    <div class="col-sm-10">
                        <select-box list="routeCase" model="item.route_case_id" placeholder="Выберите route case" required="true"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE">
                    <label class="col-sm-2 control-label">Route case 2</label>
                    <div class="col-sm-10">
                        <select-box list="routeCase" model="item.route_case_1_id" placeholder="Выберите route case" required="no" default="Любой номер"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE">
                    <label class="col-sm-2 control-label">Route case 3</label>
                    <div class="col-sm-10">
                        <select-box list="routeCase" model="item.route_case_2_id" placeholder="Выберите route case" required="no" default="Любой номер"></select-box>
                    </div>
                </div>


                <div class="form-group" ng-if="item.type_id == TYPE_ID_RELEASE_REASON">
                    <label class="col-sm-2 control-label">Release reason</label>
                    <div class="col-sm-10">
                        <select-box list="releaseReason" model="item.release_reason_id" placeholder="Выберите release reason" required="true"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_AIRP">
                    <label class="col-sm-2 control-label">AIRP</label>
                    <div class="col-sm-10">
                        <select-box list="airp" model="item.airp_id" placeholder="Выберите AIRP" required="true"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE || item.type_id == TYPE_ID_AIRP">
                    <label class="col-sm-2 control-label">Calling Station Id</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Release reason" ng-model="item.calling_station_id">
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE || item.type_id == TYPE_ID_AIRP">
                    <label class="col-sm-2 control-label">Called Station Id</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Called Station Id" ng-model="item.called_station_id">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Доступен на хабе</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                            <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_AUTOMATIC || item.type_id == TYPE_ID_AUTOMATIC_2">
                    <label class="col-sm-1 control-label">По умолчанию</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.outcome_rule_default_allowed = !item.outcome_rule_default_allowed">
                            <button type="button" class="btn {{item.outcome_rule_default_allowed ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                            <button type="button" class="btn {{!item.outcome_rule_default_allowed ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_AUTOMATIC || item.type_id == TYPE_ID_AUTOMATIC_2">
                    <label class="col-sm-1 control-label">Правила</label>
                    <div class="col-sm-10">
                        <table class="table table-striped">
                            <tbody ui-sortable="{axis: 'y'}" ng-model="item.outcomeRules">
                            <tr ng-repeat="line in item.outcomeRules">
                                <td width="5%">
                                    <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                    <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                </td>
                                <td width="5%" style="cursor: ns-resize">
                                    <span ng-if="line.trunk_group_id !== null">Группа&nbsp;транков:</span>
                                </td>
                                <td>
                                    <select-box list="trunkGroup" model="line.trunk_group_id" default="Любая группа"></select-box>
                                </td>

                                <td width="3%" style="cursor: ns-resize">
                                    <span ng-if="line.number_id_filter_a !== null">A:</span>
                                </td>
                                <td>
                                    <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                </td>

                                <td width="3%" style="cursor: ns-resize">
                                    <span ng-if="line.number_id_filter_b !== null">B:</span>
                                </td>
                                <td>
                                    <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                </td>

                                <td width="3%" style="cursor: ns-resize">
                                    <span ng-if="line.number_id_filter_c !== null">C:</span>
                                </td>
                                <td>
                                    <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeOutcomeRule($index)"></button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="addOutcomeRule()"><i class="glyphicon glyphicon-plus"></i> Группа транков</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>


                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE">
                    <label class="col-sm-2 control-label">RN</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="RN" ng-model="item.rn">
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE">
                    <label class="col-sm-2 control-label">OCPN</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="OCPN" ng-model="item.ocpn">
                    </div>
                </div>

                <div class="form-group" ng-if="item.type_id == TYPE_ID_ROUTE_CASE">
                    <label class="col-sm-2 control-label">Header</label>
                    <div class="col-sm-10">
                        <select ui-select2 ng-model="item.header" multiple="multiple" style="width: 100%">
                            <option ng-repeat="header in headerList" value="{{::header.id}}">
                                {{::header.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Спрятано до лучших времен -->

                <div class="form-group" ng-hide="true" ng-if="item.type_id == TYPE_ID_TRUNK_GROUP">
                    <label class="col-sm-2 control-label">Trunk group</label>
                    <div class="col-sm-10">
                        <select-box list="trunkGroup" model="item.trunk_group_id" placeholder="Выберите"
                                    required="false" default="Не установлено"></select-box>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="outcome-route-table-usages-tab">
                <table class="table table-striped table-hover table-condensed" >
                    <thead>
                    <tr>
                        <th width="100%">Название</th>
                        <th>&nbsp;</th>
                        <th width="10%">Сервер</th>
                        <th width="1%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="item in usagesInRouteTables">
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(item)">{{item.name}}</td>
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(item)">
                            <span class="label label-warning" ng-if="item.sw_shared">ОБЩИЙ</span>
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(item)">{{item.server_id}}</td>
                        <td>
                            <comment-icon ng-if="item.id" key="{{item.id}}" type="route_table" comment="item.object_comment"></comment-icon>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
