<form class="form-horizontal" name="form" ng-if="name">
    <div class="modal-header">
        <h3>Результаты пересчета префикcлиста "{{name}}"</h3>
    </div>
    <div class="modal-body">

        <div class="text-center">
            <div class="alert alert-danger" ng-if="processFailed">
                <b>Ошибка:</b> {{processFailed}}
            </div>
            <div class="alert alert-info" ng-if="processed">Идет обработка...</div>
            <div class="alert alert-success" ng-if="processComplete">
                Обработано префиксов: <b>{{processCompleteCount}}</b>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
