<style>
    [popover] {
        display: initial;
        position: initial;
        margin: initial;
    }
</style>
<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Прайслист v2. Дата. {{pricelistName}} <span style="color: grey; cursor: pointer" ng-click="viewPricelist(item.id)">(#{{item.id}})</span></h3>
    </div>
    <div class="modal-body">
        <table class="table table-condensed">
            <tbody>
            <tr ng-repeat="item in list">
                <td ng-if="item.is_pricelist" colspan="4" style="text-align: center;">
                    {{item.name}} | {{item.orig ? 'Оригинация' : 'Терминация'}} | Создан: {{item.date_created}}{{item.is_active ? ' | Активен с: ' + item.date_start : ''}} <span style="color: grey; cursor: pointer" ng-click="viewPricelist(item.id)">(#{{item.id}})</span>
                </td>
                <td ng-if="item.is_pricelist">
                    <a popover="Местоположения" data-popover-trigger="mouseenter" popover-placement="bottom" target="_blank" href="/pricelist/excel-locations?id={{item.id}}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </td>
                <!---------------------------------------------------->
                <td ng-if="item.is_location" colspan="2" style="border-bottom: 2px solid black;text-align: center;{{item.is_basic ? ' background-color: lightgrey;' : ''}}">{{item.location_text}} <span style="color: grey; cursor: pointer" ng-click="editLocation(item.id)">(#{{item.id}})</span></td>
                <td ng-if="item.is_location" style="border-bottom: 2px solid black;text-align: center;{{item.is_basic ? ' background-color: lightgrey;' : ''}}">{{item.delta_price}}</td>
                <td ng-if="item.is_location" style="border-bottom: 2px solid black;text-align: center;{{item.is_basic ? ' background-color: lightgrey;' : ''}}">{{item.rounding_threshold}}</td>
                <td ng-if="item.is_location" style="border-bottom: 2px solid black;text-align: center;{{item.is_basic ? ' background-color: lightgrey;' : ''}}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-success btn-sm" ng-click="back()">Закрыть</button>
        </div>
        <div class="pull-right">
            <a href="{{host}}/billing?pricelistShortView&{{item.id}}&3">Ссылка на эту форму</a>
        </div>
    </div>

</form>
