<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-body">
        <table class="table table-condensed">
            <tbody>
            <tr ng-repeat="item in list">
                <td style="background-color: #BBAAAA;border-left: 1px solid grey;" ng-if="item.is_pricelist_header"></td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header" colspan="8"></td>
                <td style="text-align: center; background-color: #BBAAAA" ng-if="item.is_pricelist_header">
                    <b>Прайслист</b>
                </td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header" colspan="12"></td>
                <!--------------------------------------------------->
                <td style="background-color: #BBAAAA;border-left: 1px solid grey;" ng-if="item.is_pricelist_header_columns"></td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns" colspan="5"></td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Валюта</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Дата начала</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Дата окончания</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Название</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Тип</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Глобальный</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Активный</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns">Версия</td>
                <td style="background-color: #BBAAAA" ng-if="item.is_pricelist_header_columns" colspan="7"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_pricelist"></td>
                <td ng-if="item.is_pricelist" colspan="5"></td>
                <td ng-if="item.is_pricelist">{{item.currency_id}}</td>
                <td ng-if="item.is_pricelist">{{item.date_start}}</td>
                <td ng-if="item.is_pricelist">{{item.date_end}}</td>
                <td ng-if="item.is_pricelist">{{item.name}}</td>
                <td ng-if="item.is_pricelist">{{item.orig}}</td>
                <td ng-if="item.is_pricelist">{{item.is_global}}</td>
                <td ng-if="item.is_pricelist">{{item.is_active}}</td>
                <td ng-if="item.is_pricelist">{{item.version}}</td>
                <td ng-if="item.is_pricelist" colspan="3"></td>
                <td ng-if="item.is_pricelist">
                    <a target="_blank" href="/pricelist/excel?id={{item.id}}" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </a>
                </td>
                <td ng-if="item.is_pricelist">
                    <a class="btn btn-success btn-xs" ng-click="addLocation(item.id)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td ng-if="item.is_pricelist">
                    <a class="btn btn-info btn-xs" ng-click="editPricelist(item.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td ng-if="item.is_pricelist"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_location_header"></td>
                <td style="background-color: #BBAABB; border-left: 1px solid grey;" ng-if="item.is_location_header"></td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header" colspan="7"></td>
                <td style="text-align: center; background-color: #BBAABB" ng-if="item.is_location_header">
                    <b>Местоположение</b>
                </td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header" colspan="12"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_location_header_columns"></td>
                <td style="background-color: #BBAABB; border-left: 1px solid grey;" ng-if="item.is_location_header_columns"></td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header_columns" colspan="6"></td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header_columns">Местоположение</td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header_columns">MCC</td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header_columns">MNC</td>
                <td style="background-color: #BBAABB" ng-if="item.is_location_header_columns" colspan="10"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_location"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_location"></td>
                <td ng-if="item.is_location" colspan="6"></td>
                <td ng-if="item.is_location">{{item.location_id}}</td>
                <td ng-if="item.is_location" style="text-align: left;">{{item.mcc}}</td>
                <td ng-if="item.is_location" style="text-align: left;">{{item.mnc}}</td>
                <td ng-if="item.is_location" colspan="7"></td>
                <td ng-if="item.is_location">
                    <a class="btn btn-success btn-xs" ng-click="addFilterA(item.id)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td ng-if="item.is_location">
                    <a class="btn btn-info btn-xs" ng-click="editLocation(item.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td ng-if="item.is_location">
                    <a ng-if="!item.has_children" class="btn btn-danger btn-xs" ng-click="deleteLocation(item.id)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                </td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a_header"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a_header"></td>
                <td style="background-color: #AAAABB; border-left: 1px solid grey;" ng-if="item.is_filter_a_header"></td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header" colspan="6"></td>
                <td style="text-align: center; background-color: #AAAABB" ng-if="item.is_filter_a_header">
                    <b>Фильтр А</b>
                </td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header" colspan="12"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a_header_columns"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a_header_columns"></td>
                <td style="background-color: #AAAABB; border-left: 1px solid grey;" ng-if="item.is_filter_a_header_columns"></td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns" colspan="3"></td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Время с</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Время по</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Режим</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Направление</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Страна</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Оператор</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Регион</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Город</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns">Тип NDC</td>
                <td style="background-color: #AAAABB" ng-if="item.is_filter_a_header_columns" colspan="6"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_a"></td>
                <td ng-if="item.is_filter_a" colspan="3"></td>
                <td ng-if="item.is_filter_a">{{item.time_start}}</td>
                <td ng-if="item.is_filter_a">{{item.time_end}}</td>
                <td ng-if="item.is_filter_a">{{item.mode_selected}}</td>
                <td ng-if="item.is_filter_a">{{item.nnp_destination}}</td>
                <td ng-if="item.is_filter_a">{{item.nnp_country}}</td>
                <td ng-if="item.is_filter_a">{{item.nnp_operator}}</td>
                <td ng-if="item.is_filter_a">{{item.nnp_region}}</td>
                <td ng-if="item.is_filter_a">{{item.nnp_city}}</td>
                <td ng-if="item.is_filter_a">{{item.nnp_ndc_type}}</td>
                <td ng-if="item.is_filter_a" colspan="3"></td>
                <td ng-if="item.is_filter_a">
                    <a class="btn btn-success btn-xs" ng-click="addFilterB(item.id)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td ng-if="item.is_filter_a">
                    <a class="btn btn-info btn-xs" ng-click="editFilterA(item.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td ng-if="item.is_filter_a">
                    <a ng-if="!item.has_children" class="btn btn-danger btn-xs" ng-click="deleteFilterA(item.id)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                </td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b_header"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b_header"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b_header"></td>
                <td style="background-color: #AABBBB; border-left: 1px solid grey;" ng-if="item.is_filter_b_header"></td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header" colspan="5"></td>
                <td style="text-align: center; background-color: #AABBBB" ng-if="item.is_filter_b_header">
                    <b>Фильтр В</b>
                </td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header" colspan="11"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b_header_columns"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b_header_columns"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b_header_columns"></td>
                <td style="background-color: #AABBBB; border-left: 1px solid grey;" ng-if="item.is_filter_b_header_columns"></td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Цена порт.</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Цена инт.</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Время с</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Время по</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Режим</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Направление</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Страна</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Оператор</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Регион</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Город</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns">Тип NDC</td>
                <td style="background-color: #AABBBB" ng-if="item.is_filter_b_header_columns" colspan="6"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_filter_b"></td>
                <td ng-if="item.is_filter_b">{{item.ported_num_price}}</td>
                <td ng-if="item.is_filter_b">{{item.interconnect_price}}</td>
                <td ng-if="item.is_filter_b">{{item.time_start}}</td>
                <td ng-if="item.is_filter_b">{{item.time_end}}</td>
                <td ng-if="item.is_filter_b">{{item.mode_selected}}</td>
                <td ng-if="item.is_filter_b">{{item.nnp_destination}}</td>
                <td ng-if="item.is_filter_b">{{item.nnp_country}}</td>
                <td ng-if="item.is_filter_b">{{item.nnp_operator}}</td>
                <td ng-if="item.is_filter_b">{{item.nnp_region}}</td>
                <td ng-if="item.is_filter_b">{{item.nnp_city}}</td>
                <td ng-if="item.is_filter_b">{{item.nnp_ndc_type}}</td>
                <td ng-if="item.is_filter_b" colspan="3"></td>
                <td ng-if="item.is_filter_b">
                    <a class="btn btn-success btn-xs" ng-click="addPrefixPrice(item.id)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td ng-if="item.is_filter_b">
                    <a class="btn btn-info btn-xs" ng-click="editFilterB(item.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <td ng-if="item.is_filter_b">
                    <a ng-if="!item.has_children" class="btn btn-danger btn-xs" ng-click="deleteFilterB(item.id)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                </td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header" width="20"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header" width="20"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header" width="20"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header" width="20"></td>
                <td style="background-color: #AABBAA; border-left: 1px solid grey;" ng-if="item.is_prefix_price_header"></td>
                <td style="background-color: #AABBAA;" ng-if="item.is_prefix_price_header" colspan="4"></td>
                <td style="text-align: center; background-color: #AABBAA" ng-if="item.is_prefix_price_header">
                    <b>Префикс</b>
                </td>
                <td style="background-color: #AABBAA" ng-if="item.is_prefix_price_header" colspan="11"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header_columns"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header_columns"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header_columns"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_header_columns"></td>
                <td style="background-color: #AABBAA; border-left: 1px solid grey;" ng-if="item.is_prefix_price_header_columns"></td>
                <td style="background-color: #AABBAA" ng-if="item.is_prefix_price_header_columns" colspan="3"></td>
                <td style="background-color: #AABBAA" ng-if="item.is_prefix_price_header_columns">Префикс номера</td>
                <td style="text-align: right; background-color: #AABBAA" ng-if="item.is_prefix_price_header_columns">Цена номера B</td>
                <td style="background-color: #AABBAA" ng-if="item.is_prefix_price_header_columns" colspan="11"></td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price"></td>
                <td ng-if="item.is_prefix_price" colspan="3"></td>
                <td ng-if="item.is_prefix_price">{{item.prefix_b}}</td>
                <td style="text-align: right;" ng-if="item.is_prefix_price">{{item.b_number_price}}</td>
                <td ng-if="item.is_prefix_price" colspan="8"></td>
                <td ng-if="item.is_prefix_price"></td>
                <td ng-if="item.is_prefix_price">
                    <a ng-if="item.has_buttons" class="btn btn-info btn-xs" ng-click="editPrefixPrice(item.prefix_price_id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-if="!item.has_buttons" class="btn btn-info btn-xs" ng-click="displayEmptyAlert()">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </td>
                <td ng-if="item.is_prefix_price">
                    <a ng-if="item.has_buttons" class="btn btn-danger btn-xs" ng-click="deletePrefixPrice(item.prefix_price_id)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                </td>
                <!---------------------------------------------------->
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_footer"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_footer"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_footer"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_footer"></td>
                <td style="border-left: 1px solid grey;" ng-if="item.is_prefix_price_footer"></td>
                <td ng-if="item.is_prefix_price_footer" colspan="3"></td>
                <td ng-if="item.is_prefix_price_footer" colspan="7">
                    <pagination style="display: inline;" max-size="5" rotate="false" total-items="item.totalCount" items-per-page="limit" page="item.currentPage" on-select-page="setPagingData(page, item.filter_b_id)"></pagination>
                </td>
                <td ng-if="item.is_prefix_price_footer" colspan="6"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-success btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
