<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Фильтр А, id {{item.id}}</h3>
        <h3 ng-if="!item.id">Создание фильтра А</h3>
    </div>
    <div class="modal-body">
        <div class="col-sm-10">

            <div class="alert alert-danger text-center" ng-if="nnpDataParseError">
                Ошибка разбора данных по NNP
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Описание</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Описание" ng-model="item.description">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Режим работы</label>
                <div class="col-sm-10">
                    <div class="btn-group" ng-click="item.mode_selected = !item.mode_selected">
                        <button type="button" class="btn btn-sm {{item.mode_selected ? 'btn-primary active' : 'btn-default'}}">Выбранные</button>
                        <button type="button" class="btn btn-sm {{!item.mode_selected ? 'btn-danger active' : 'btn-default'}}">Кроме выбранных</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Время с</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="11:12:13" ng-model="item.time_start">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Время по</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="23:59:59" ng-model="item.time_end">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Вероятность замены RN</label>
                <div class="col-sm-10">
                    <input class="form-control" type="number" min="0" max="100" placeholder="0" ng-model="item.rn_replacement_probability">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Использовать RN-номер</label>
                <div class="col-sm-10">
                    <div class="btn-group" ng-click="item.f_rn_pricelist = !item.f_rn_pricelist">
                        <button type="button" class="btn btn-sm {{item.f_rn_pricelist ? 'btn-primary active' : 'btn-default'}}">Да</button>
                        <button type="button" class="btn btn-sm {{!item.f_rn_pricelist ? 'btn-danger active' : 'btn-default'}}">Нет</button>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Regex</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="regex" ng-model="item.regex">
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="{{(nnpMode == NNP_MODE_FILTER) ? 'active' : '' }}">
                    <a href="#nnp-filter" data-toggle="tab" ng-click="setNnpMode(NNP_MODE_FILTER)">ННП-Фильтр</a>
                </li>
                <li class="{{(nnpMode == NNP_MODE_PARAMETERS) ? 'active' : '' }}">
                    <a href="#nnp-parameters" data-toggle="tab" ng-click="setNnpMode(NNP_MODE_PARAMETERS)">ННП-Параметры</a>
                </li>
                <li>
                    <a href="#nnp-filter-import" data-toggle="tab">Импорт NNP-фильтров</a>
                </li>
                <li ng-if="item.pricelist_group_id == 32">
                    <a href="#alphanums" data-toggle="tab">Альфа номера</a>
                </li>
            </ul>
            <br/>

            <div class="tab-content">
                <div class="tab-pane{{(nnpMode == NNP_MODE_FILTER) ? ' active' : '' }}" id="nnp-filter">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Страна</label>
                        <div class="col-sm-10">
                            <select ui-select2 ng-model="item.filter_country" style="width: 100%">
                                <option ng-repeat="country in countryList" value="{{::country.code}}">
                                    {{::country.name_rus}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">ННП-фильтр</label>
                        <div class="col-sm-10">
                            <select ui-select2 ng-model="item.nnp_filter" style="width: 100%">
                                <option value="">-- Выберите --</option>
                                <option ng-repeat="filter in filterList" value="{{filter.id}}">
                                    {{filter.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="tab-pane{{(nnpMode == NNP_MODE_PARAMETERS) ? ' active' : '' }}" id="nnp-parameters">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Страна</label>
                        <div class="col-sm-7">
                            <select ui-select2 ng-model="item.nnp_country" multiple="multiple" style="width: 100%">
                                <option ng-repeat="country in countryList" value="{{::country.code}}">
                                    {{::country.name_rus}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_country ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_country = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_country ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_country = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country">
                        <label class="col-sm-2 control-label">Регион</label>
                        <div ng-if="regionList && regionList.length > 0" class="col-sm-7">
                            <select ui-select2 ng-model="item.nnp_region" multiple="multiple" style="width: 100%">
                                <option ng-repeat="region in regionList" value="{{::region.id}}">{{::region.name}}
                                </option>
                            </select>
                        </div>
                        <div ng-if="!regionList || regionList.length == 0" class="col-sm-7">
                            <button type="button"
                                    class="btn btn-primary info"
                                    ng-click="loadRegions()">Загрузить данные
                            </button>
                            <span ng-if="item.nnp_region && item.nnp_region != {}">Текущее значение: {{item.nnp_region}}</span>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_region ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_region = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_region ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_region = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country && item.nnp_region">
                        <label class="col-sm-2 control-label">Город</label>
                        <div ng-if="cityList && cityList.length > 0" class="col-sm-7">
                            <select ui-select2 ng-model="item.nnp_city" multiple="multiple" style="width: 100%">
                                <option ng-repeat="city in cityList" value="{{::city.id}}">{{::city.name}}</option>
                            </select>
                        </div>
                        <div ng-if="!cityList || cityList.length == 0" class="col-sm-7">
                            <button type="button"
                                    class="btn btn-primary info"
                                    ng-click="loadCities()">Загрузить данные
                            </button>
                            <span ng-if="item.nnp_city && item.nnp_city != {}">Текущее значение: {{item.nnp_city}}</span>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_city ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_city = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_city ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_city = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country">
                        <label class="col-sm-2 control-label">Оператор</label>
                        <div ng-if="operatorList && operatorList.length > 0" class="col-sm-7">
                            <select ui-select2 ng-model="item.nnp_operator" multiple="multiple" style="width: 100%">
                                <option ng-repeat="operator in operatorList" value="{{::operator.id}}">
                                    {{::operator.name}}
                                </option>
                            </select>
                        </div>
                        <div ng-if="!operatorList || operatorList.length == 0" class="col-sm-7">
                            <button type="button"
                                    class="btn btn-primary info"
                                    ng-click="loadOperators()">Загрузить данные
                            </button>
                            <span ng-if="item.nnp_operator && item.nnp_operator != {}">Текущее значение: {{item.nnp_operator}}</span>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_operator ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_operator = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_operator ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_operator = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Тип NDC</label>
                        <div class="col-sm-7">
                            <select ui-select2 ng-model="item.nnp_ndc_type" multiple="multiple" style="width: 100%">
                                <option ng-repeat="ndcType in ndcTypeList" value="{{::ndcType.id}}">{{::ndcType.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_ndc_type ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_ndc_type = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_ndc_type ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_ndc_type = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country">
                        <label class="col-sm-2 control-label">NDC</label>
                        <div ng-if="ndcList && ndcList.length > 0" class="col-sm-7">
                            <select ui-select2 ng-model="item.nnp_ndc" multiple="multiple" style="width: 100%">
                                <option ng-repeat="ndc in ndcList" value="{{ndc.id}}">{{ndc.name}}
                                </option>
                            </select>
                        </div>
                        <div ng-if="!ndcList || ndcList.length == 0" class="col-sm-7">
                            <button type="button"
                                    class="btn btn-primary info"
                                    ng-click="loadNdcs()">Загрузить данные
                            </button>
                            <span ng-if="item.nnp_ndc && item.nnp_ndc != {}">Текущее значение: {{item.nnp_ndc}}</span>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_ndc ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_ndc = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_ndc ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_ndc = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="nnp-filter-import">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Список фильтров <span class="glyphicon glyphicon-question-sign" popover="Дата должна быть в формате ДД.ММ.ГГГГ" data-popover-trigger="mouseenter" popover-placement="left"></span></label>
                        <div class="col-sm-6">
                            <textarea class="form-control" placeholder="Фильтры" ng-model="item.filters"></textarea>
                        </div>
                        <div ng-hide="!errors.filters_error" class="col-sm-4">
                            <span style="color: red;">{{errors.filters_error}}</span>
                        </div>
                    </div>
                    <div ng-if="item.filterBHistory[0]">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">Дата начала действия</th>
                                    <th class="col-sm-2">Дата окончания действия</th>
                                    <th class="col-sm-2">Прайслист</th>
                                    <th class="col-sm-2">Операция</th>
                                    <th class="col-sm-2">Дата операции</th>
                                    <th class="col-sm-2"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="val in item.filterBHistory">
                                <td style="cursor: pointer" ng-click="openFilterBHistory(val)">{{val.date_from}}</td style="cursor: pointer" ng-click="openPrefixPriceHistory(val)">
                                <td style="cursor: pointer" ng-click="openFilterBHistory(val)">{{val.date_to}}</td style="cursor: pointer" ng-click="openPrefixPriceHistory(val)">
                                <td style="cursor: pointer" ng-click="openFilterBHistory(val)">#{{val.pricelist_id}} ({{val.total_count}})</td style="cursor: pointer" ng-click="openPrefixPriceHistory(val)">
                                <td style="cursor: pointer" ng-click="openFilterBHistory(val)">{{val.type=='replace' ? 'Замена' : 'Добавление'}}</td style="cursor: pointer" ng-click="openFilterPriceHistory(val)">
                                <td style="cursor: pointer" ng-click="openFilterBHistory(val)">{{val.date_created}}</td style="cursor: pointer" ng-click="openPrefixPriceHistory(val)">
                                <td><button type="button" class="btn btn-default btn-sm" ng-if="$last && val.has_backup" ng-click="undoFilterBImport(val)">Отмена</button class="btn btn-default btn-sm"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="alphanums" ng-if="item.pricelist_group_id == 32">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Альфа номер</label>
                        <div class="col-sm-7">
                            <select ui-select2 ng-model="item.a2p_alphanumber" multiple="multiple" style="width: 100%">
                                <option ng-repeat="number in alphaNumList" value="{{::number.id}}">
                                    {{::number.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success"
                    ng-if="(item.id && userPermissions['pricelist_edit']) || (!item.id && userPermissions['pricelist_create'])"
                    ng-disabled="form.$invalid || (!userPermissions['pricelist_super_edit'] && !saveEnabled)"
                    ng-click="save()">Сохранить
            </button>
            <button type="submit" class="btn btn-warning"
                    ng-hide="!userPermissions['pricelist_edit'] || !item.nnp_filter"
                    ng-disabled="!userPermissions['pricelist_super_edit'] && (form.$invalid || !saveEnabled)"
                    ng-click="saveAndUpdate()">Сохранить и применить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/pricelist-filter-a"></action-log-view-button>
        </div>
    </div>

</form>
