<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Фильтр B, id {{item.id}}</h3>
        <h3 ng-if="!item.id">Создание фильтра B</h3>
    </div>
    <div class="modal-body">
        <div class="col-sm-10">

            <div class="alert alert-danger text-center" ng-if="nnpDataParseError">
                Ошибка разбора данных по NNP
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Описание</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Описание" ng-model="item.description">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Режим работы</label>
                <div class="col-sm-10">
                    <div class="btn-group" ng-click="item.mode_selected = !item.mode_selected">
                        <button type="button" class="btn btn-sm {{item.mode_selected ? 'btn-primary active' : 'btn-default'}}">Выбранные</button>
                        <button type="button" class="btn btn-sm {{!item.mode_selected ? 'btn-danger active' : 'btn-default'}}">Кроме выбранных</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Цена интерконнекта</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1.234" ng-model="item.interconnect_price" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Цена портированного номера</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1.234" ng-model="item.ported_num_price" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Цена оператора</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1.234" ng-model="item.operator_price" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Цена транзита</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1.234" ng-model="item.transit_price" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Бесплатно, секунд</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1" ng-model="item.tarification_free_seconds" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Интервал билингования, секунд</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1" ng-model="item.tarification_interval_seconds" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Тип округления</label>
                <div class="col-sm-10">
                    <select ui-select2 ng-model="item.tarification_type" placeholder="round" style="width: 100%" >
                        <option ng-repeat="roundItem in round_type" value="{{roundItem.id}}">{{roundItem.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Минимальное кол-во платных секунд</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1" ng-model="item.tarification_min_paid_seconds" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Время с</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="23:59:59" ng-model="item.time_start">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Время по</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="23:59:59" ng-model="item.time_end">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Рейтинг</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="1" ng-model="item.rating">
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="{{(nnpMode == NNP_MODE_FILTER) ? 'active' : '' }}">
                    <a href="#nnp-filter" data-toggle="tab" ng-click="setNnpMode(NNP_MODE_FILTER)">ННП-Фильтр</a>
                </li>
                <li class="{{(nnpMode == NNP_MODE_PARAMETERS) ? 'active' : '' }}">
                    <a href="#nnp-parameters" data-toggle="tab" ng-click="setNnpMode(NNP_MODE_PARAMETERS)">ННП-Параметры</a>
                </li>
                <li ng-if="!item.id">
                    <a href="#prefix-import" data-toggle="tab">Импорт префиксов</a>
                </li>
            </ul>
            <br/>

            <div class="tab-content">
                <div class="tab-pane{{(nnpMode == NNP_MODE_FILTER) ? ' active' : '' }}" id="nnp-filter">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Страна</label>
                        <div class="col-sm-10">
                            <select ui-select2 ng-model="item.filter_country" style="width: 100%">
                                <option ng-repeat="country in countryList" value="{{::country.code}}">
                                    {{::country.name_rus}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">ННП-фильтр</label>
                        <div class="col-sm-10">
                            <select ui-select2 ng-model="item.nnp_filter" style="width: 100%">
                                <option value="">-- Выберите --</option>
                                <option ng-repeat="filter in filterList" value="{{filter.id}}">
                                    {{filter.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="tab-pane{{(nnpMode == NNP_MODE_PARAMETERS) ? ' active' : '' }}" id="nnp-parameters">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Страна</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="item.nnp_country" multiple="multiple" style="width: 100%">
                                <option ng-repeat="country in countryList" value="{{::country.code}}">
                                    {{::country.name_rus}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_country ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_country = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_country ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_country = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country">
                        <label class="col-sm-2 control-label">Регион</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="item.nnp_region" multiple="multiple" style="width: 100%">
                                <option ng-repeat="region in regionList" value="{{::region.id}}">{{::region.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_region ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_region = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_region ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_region = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country && item.nnp_region">
                        <label class="col-sm-2 control-label">Город</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="item.nnp_city" multiple="multiple" style="width: 100%">
                                <option ng-repeat="city in cityList" value="{{::city.id}}">{{::city.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_city ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_city = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_city ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_city = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="item.nnp_country">
                        <label class="col-sm-2 control-label">Оператор</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="item.nnp_operator" multiple="multiple" style="width: 100%">
                                <option ng-repeat="operator in operatorList" value="{{::operator.id}}">
                                    {{::operator.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_operator ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_operator = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_operator ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_operator = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Тип NDC</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="item.nnp_ndc_type" multiple="multiple" style="width: 100%">
                                <option ng-repeat="ndcType in ndcTypeList" value="{{::ndcType.id}}">{{::ndcType.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn {{!item.f_inv_nnp_ndc_type ? 'btn-primary active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_ndc_type = false">Выбранные
                                </button>
                                <button type="button"
                                        class="btn {{item.f_inv_nnp_ndc_type ? 'btn-danger active' : 'btn-default'}}"
                                        ng-click="item.f_inv_nnp_ndc_type = true">Кроме выбранных
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="prefix-import">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Список префиксов</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" placeholder="Префиксы" ng-model="item.prefixes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-if="(item.id && userPermissions['pricelist_edit']) || (!item.id && userPermissions['pricelist_create'])" ng-disabled="form.$invalid || !saveEnabled"
                    ng-click="save()">Сохранить
            </button>
            <button type="submit" class="btn btn-warning" ng-hide="!item.id || !userPermissions['pricelist_edit'] || pricelistIsActive || !item.nnp_filter" ng-disabled="form.$invalid || !saveEnabled" ng-click="saveAndUpdate()">Сохранить и применить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
