<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Прайслист {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание прайслиста</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Описание</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Описание" ng-model="item.description">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Группа</label>
            <div class="col-sm-10">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Группа прайслиста" ng-model="item.pricelist_group_id" required>
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="group in pricelistGroupList" value="{{group.id}}">{{group.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Тип прайслиста</label>
            <div class="col-sm-10">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Тип прайслиста" ng-model="item.type_id" required>
                    <option value="1">Розница</option>
                    <option value="2">Оператор</option>
                    <option value="3">ОТТ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Тип услуги прайслиста</label>
            <div class="col-sm-10">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Тип услуги прайслиста" ng-model="item.service_type_id" required>
                    <option value="1">Голос</option>
                    <option value="2">СМС-A2P</option>
                    <option value="3">Дата (трафик)</option>
                    <option value="4">СМС-P2P</option>
                    <option value="5">МАВ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Валюта</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.currency_id" placeholder="Валюта" style="width: 100%" ng-disabled="item.is_active">
                    <option ng-repeat="currencyItem in currency" value="{{currencyItem.id}}">{{currencyItem.name}}</option>
                </select>
            </div>
        </div>

        <div ng-if="item.id" class="form-group">
            <label class="col-sm-2 control-label">Дата создания</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Дата (ГГГГ-ММ-ДД)" ng-model="item.date_created" disabled>
            </div>
            <!--<div class="col-sm-4">-->
                <!--<button type="button" class="btn btn-success" ng-click="createNewVersion()">Создать новую версию</button>-->
            <!--</div>-->
        </div>

        <div ng-if="!item.id" class="form-group">
            <label class="col-sm-2 control-label">Дата создания</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Дата (ГГГГ-ММ-ДД)" ng-model="item.date_created" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Дата начала действия</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Дата (ГГГГ-ММ-ДД)" ng-model="item.date_start" ng-disabled="item.is_active">
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="col-sm-2 control-label">Дата окончания действия</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input class="form-control" placeholder="Время (UTC)" ng-model="item.date_end" required>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="col-sm-2 control-label">Версия прайслиста</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="1" ng-model="item.pricelist_version" ng-disabled="item.is_active">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Вматчивание С номера в ННП Фильтр</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.nnp_filter" style="width: 100%">
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="filter in filterList" value="{{filter.id}}">
                        {{filter.name}}
                    </option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Тип округления</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.default_tarification_type" placeholder="round" style="width: 100%" >
                    <option ng-repeat="roundItem in round_type" value="{{roundItem.id}}">{{roundItem.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Оригинация</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="!item.is_active ? (item.orig = !item.orig) : ''" ng-disabled="item.is_active">
                    <button type="button" class="btn btn-sm {{item.orig ? 'btn-success active' : 'btn-default'}}" ng-disabled="item.is_active">Да</button>
                    <button type="button" class="btn btn-sm {{!item.orig ? 'btn-primary active' : 'btn-default'}}" ng-disabled="item.is_active">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Глобальный</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="!item.is_active ? (item.is_global = !item.is_global) : ''" ng-disabled="item.is_active">
                    <button type="button" class="btn btn-sm {{item.is_global ? 'btn-success active' : 'btn-default'}}" ng-disabled="item.is_active">Да</button>
                    <button type="button" class="btn btn-sm {{!item.is_global ? 'btn-primary active' : 'btn-default'}}" ng-disabled="item.is_active">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Переадресация</label>
            <div class="col-sm-10">
              <div class="btn-group" ng-click="item.is_redirect_pricelist = !item.is_redirect_pricelist">
                <button type="button" 
                        class="btn btn-sm {{item.is_redirect_pricelist ? 'btn-success active' : 'btn-default'}}">
                  Да
                </button>
                <button type="button" 
                        class="btn btn-sm {{!item.is_redirect_pricelist ? 'btn-primary active' : 'btn-default'}}">
                  Нет
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Дополнительный прайслист</label>
            <div class="col-sm-10">
              <select ui-select2 ng-model="item.additional_pricelist" style="width: 100%" placeholder="Выберите дополнительный прайслист">
                <option value="">-- Выберите --</option>
                <option ng-repeat="pl in additionalPricelistList" value="{{pl.id}}">{{pl.name}}</option>
              </select>
            </div>
          </div>
          

        <div ng-if="item.id" class="form-group">
            <label class="col-sm-2 control-label">Базовое местоположение</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.basic_pricelist_location_id" placeholder="Базовое местоположение" style="width: 100%" ng-disabled="item.is_active">
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="locationItem in locations" value="{{locationItem.id}}">{{locationItem.name}}</option>
                </select>
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Бесплатно, секунд, по умолчанию</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="1" ng-model="item.default_tarification_free_seconds" ng-disabled="item.is_active" ng-required="item.service_type_id == 1">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Интервал билингования, секунд, по умолчанию</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="1" ng-model="item.default_tarification_interval_seconds" ng-disabled="item.is_active" ng-required="item.service_type_id == 1">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Минимальное кол-во платных секунд, по умолчанию</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="1" ng-model="item.default_tarification_min_paid_seconds" ng-disabled="item.is_active" ng-required="item.service_type_id == 1">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Плата за установку соединения (для маркировки)</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="0" ng-model="item.connection_setup_fee_label">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Плата за установку соединения (для МАВ)</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="0" ng-model="item.connection_setup_fee_mav">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Минималки, минуты</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="0" ng-model="item.minimum_minutes" ng-disabled="!userPermissions['pricelist_super_edit'] && item.is_active">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Минималки, стоимость</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="0" ng-model="item.minimum_cost" ng-disabled="!userPermissions['pricelist_super_edit'] && item.is_active">
            </div>
        </div>

        <div ng-hide="item.service_type_id != 1" class="form-group">
            <label class="col-sm-2 control-label">Ограничение по минимальной цене</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="0" ng-model="item.minimum_margin">
            </div>
            <div class="col-sm-2">
                <select ui-select2 ng-model="item.minimum_margin_type" placeholder="Тип" style="width: 100%">
                    <option value="0">Нет</option>
                    <option value="1">Деньги</option>
                    <option value="2">Процент</option>
                </select>
            </div>
        </div>

        <div ng-if="!item.id" class="form-group">
            <label class="col-sm-2 control-label">Импортировать из прайслиста</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="1" ng-model="item.old_pricelist_id">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success"
                    ng-if="(item.id && userPermissions['pricelist_edit']) || (!item.id && userPermissions['pricelist_create'])"
                    ng-disabled="form.$invalid"
                    ng-click="save()">Сохранить</button>
            <button type="submit" class="btn btn-warning"
                    ng-if="item.id && userPermissions['pricelist_edit'] && !item.is_active && item.service_type_id == 1"
                    ng-disabled="form.$invalid"
                    ng-click="saveAndUpdate()">Сохранить и применить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/pricelist"></action-log-view-button>
        </div>
    </div>

</form>
