<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-body">
        <table class="table table-condensed" style="width: 500px;">
            <tbody>
            <tr ng-repeat="item in list">
                <td ng-if="item.is_pricelist" colspan="3">{{item.name}}, валюта {{item.currency_id}}</td>
                <td ng-if="item.is_pricelist">
                    <a class="btn btn-success btn-xs" ng-click="viewPricelist(item.id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
                <!---------------------------------------------------->
                <td ng-if="item.is_location" colspan="3" style="border-bottom: 2px solid black;">Местоположение: {{item.location_id}}</td>
                <td ng-if="item.is_location" style="border-bottom: 2px solid black;"></td>
                <!---------------------------------------------------->
                <td ng-if="item.is_prefix_price && item.is_filter_header" rowspan="{{item.count}}" style="text-align: center; vertical-align: middle;">
                    {{item.filter_b_name}}
                    <span ng-if="item.filter_a_name"><br/>({{item.filter_a_name}})</span>
                </td>
                <td ng-if="item.is_prefix_price">{{item.prefix_b}}</td>
                <td ng-if="item.is_prefix_price">{{item.b_number_price}}</td>
                <td ng-if="item.is_prefix_price"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-success btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
