<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Местоположение, id {{item.id}}</h3>
        <h3 ng-if="!item.id">Создание местоположения</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">MCC</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.mcc" multiple="multiple" style="width: 100%" >
                    <option ng-repeat="mcc in mccList" value="{{::mcc.id}}">#{{mcc.mcc}} {{::mcc.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">MNC</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.mnc" multiple="multiple" style="width: 100%" >
                    <option ng-repeat="mnc in mncList" value="{{::mnc.id}}">#{{mnc.mnc}} {{::mnc.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Добавочная цена</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="1.234" ng-model="item.delta_price">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Местоположение</label>
            <div class="col-sm-10">
                <select ui-select2 ng-model="item.location_id" placeholder="Местоположение" style="width: 100%">
                    <option ng-repeat="locationItem in location" value="{{locationItem.id}}">{{locationItem.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Базовый</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.is_basic = !item.is_basic">
                    <button type="button" class="btn btn-sm {{item.is_basic ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.is_basic ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Базовое местоположение</label>
            <div class="col-sm-10">
                <select-box list="locationBasic" model="item.basic_pricelist_location_id" placeholder="Выберите местоположение"></select-box>
            </div>
        </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
