<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Route case {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание Route case</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Доступен на хабе</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                    <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Транки</label>
            <div class="col-sm-10">
                <table class="table table-striped">
                    <tbody>
                    <tr ng-repeat="line in item.trunks">
                        <td width="10%">
                            <input class="form-control input-sm" ng-model="line.priority" required>
                        </td>
                        <td width="10%">
                            <input class="form-control input-sm" ng-model="line.weight" required>
                        </td>
                        <td width="80%">
                            <select-box list="trunk" model="line.trunk_id" placeholder="Выберите транк" required="true"></select-box>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeTrunk($index)"></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            <button type="button" class="btn btn-success btn-xs" ng-click="addTrunk()"><i class="glyphicon glyphicon-plus"></i> Транк</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
