<style>
.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.table {
    width: 100%;
    table-layout: auto;
}

.col-sm-10.table-responsive {
    padding-right: 0;
}

.d-flex {
    display: flex;
    align-items: center;
}

.control-label {
    margin-bottom: 0;
    padding-top: 0;
}

</style>
<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3>Общие настройки</h3>
    </div>
    <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#mainsettings" data-toggle="tab">Основные</a></li>
            <li><a href="#healthsettings" data-toggle="tab">Здоровье</a></li>
            <li><a href="#routingclass5" data-toggle="tab">Маршрутизация класс 5</a></li>
            <li ng-if="item.hub_id"><a href="#hubnumbercapacity" data-toggle="tab">Номерная емкость хаба</a></li>
            <li><a href="#prefixlist_block" data-toggle="tab">Блокировка по номеру</a></li>
            <li><a href="#spc" data-toggle="tab">КПС узла связи</a></li>
            <li><a href="#mvno_link" data-toggle="tab">МВНО</a></li>
            <li><a href="#antifraud" data-toggle="tab">Верификация</a></li>
            <li><a href="#bnumber" data-toggle="tab">Специальные действия</a></li>
            <li ng-if="userPermissions['corm_edit']"><a href="#corm" data-toggle="tab">СОРМ-1</a></li>
        </ul>

        <br/>

        <div class="tab-content">
            <div class="tab-pane active" id="mainsettings">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Hostname</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Название</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.name" ng-focus="nameChanged()" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Название короткое</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.name_short" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Резервный сервер</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname_reserve" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Global Host 1001</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname_1001" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Global Host 1002</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname_1002" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Резервный сервер 2</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname_reserve_2" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сервер разработки</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname_dev" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>пришел звонок MGMN-транка вызова</label>
                    <div class="col-sm-7">
                        <select-box list="outcome" param="{{server_id}}" model="item.rc_mgmn_outcome_id" default="Выберите Outcome"></select-box>
                    </div>
                    <div class="btn-group" ng-click="item.rc_mgmn_action_disable = !item.rc_mgmn_action_disable">
                        <button type="button" class="btn btn-sm {{item.rc_mgmn_action_disable ? 'btn-success active' : 'btn-default'}}">Откл</button>
                        <button type="button" class="btn btn-sm {{!item.rc_mgmn_action_disable ? 'btn-primary active' : 'btn-default'}}">Вкл</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>rc_mgmnНе достаточно денег для совершения вызова</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" param="{{server_id}}" model="item.low_balance_outcome_id" default="Выберите Outcome"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>Телефония заблокирована</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" param="{{server_id}}" model="item.blocked_outcome_id" default="Выберите Outcome"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>Обнаружена закольцовка</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" param="{{server_id}}" model="item.loop_detected_outcome_id" default="Выберите Outcome"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>При запрете вызова</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" param="{{server_id}}" model="item.reject_outcome_id" default="Access-Reject"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Подмена А номера<br/>для линии без номера</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.calling_station_id_for_line_without_number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Мин. цена для авто маршрутизации</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.min_price_for_autorouting" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Сервисные номера</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.service_numbers" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Список спец-служб</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.emergency_prefixlist_id" placeholder="Выберите" required="false" default="Без списка"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Список глобальной подмены</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.global_replacement_id" placeholder="Выберите" required="false" default="Без списка"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Префикслист для подмены номера А на С в пл-в2</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.rn_replace_prefixlist_id" placeholder="Выберите" required="false" default="Префикслист не выбран"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Префикслист для проверки номера B NNP</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model=item.verification_b_in_nnp_prefixlist_id placeholder="Выберите" required="false" default="Без списка"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Номерная емкость MCN</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.mcn_prefixlist_id" placeholder="Выберите" required="false" default="Без списка"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Адрес SS сервера</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.nas_ip_address" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Группа транков для Фазы1</label>
                    <div class="col-sm-8">
                        <select-box list="trunkGroup" model="item.phase1_allow_trunkgroup_id" placeholder="Выберите" required="false" default="Не установлено"></select-box>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">СОРМ</label>
                    <div class="col-sm-8">
                        <div class="btn-group" ng-click="item.is_sormed = !item.is_sormed">
                            <button type="button" class="btn btn-sm {{item.is_sormed ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_sormed ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">В коммерции</label>
                    <div class="col-sm-8">
                        <div class="btn-group" ng-click="item.is_production = !item.is_production">
                            <button type="button" class="btn btn-sm {{item.is_production ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_production ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Ошибки автотестов в здоровье</label>
                    <div class="col-sm-8">
                        <div class="btn-group" ng-click="item.is_autotest_error_enabled = !item.is_autotest_error_enabled">
                            <button type="button" class="btn btn-sm {{item.is_autotest_error_enabled ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_autotest_error_enabled ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane" id="healthsettings">
                <div class="form-group">
                    <label class="col-sm-4 control-label">call_sync_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_call_sync_delay" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">cdr_sync_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_cdr_sync_delay" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">call_save_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_call_save_delay" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">cdr_proc_wait_count</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_cdr_proc_wait_count" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">call_save_wait_count</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_call_save_wait_count" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">thread_error_count</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_thread_error_count" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">h_radius_request_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_radius_request_delay" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">h_event_management</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_event_management" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">h_local_events</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_local_events" />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="routingclass5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Маршрутизировать на класс 5</label>
                    <div class="col-sm-8">
                        <div class="btn-group" ng-click="item.is_route_to_class5 = !item.is_route_to_class5">
                            <button type="button" class="btn btn-sm {{item.is_route_to_class5 ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_route_to_class5 ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Использовать открытый план нумерации</label>
                    <div class="col-sm-8">
                        <div class="btn-group" ng-click="item.is_open_numeric_plan_enabled = !item.is_open_numeric_plan_enabled">
                            <button type="button" class="btn btn-sm {{item.is_open_numeric_plan_enabled ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_open_numeric_plan_enabled ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Использовать Фазу 1 при маршрутизации на класс 5</label>
                    <div class="col-sm-2">
                        <div class="btn-group" ng-click="item.is_route_to_class5_phase1_enable = !item.is_route_to_class5_phase1_enable">
                            <button type="button" class="btn btn-sm {{item.is_route_to_class5_phase1_enable ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_route_to_class5_phase1_enable ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label">B-номер</label>
                    <div class="col-sm-4">
                        <select-box list="number" model="item.number_id_filter_b_route_to_class5" placeholder="Выберите" required="false" param="2" default="Не установлено"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">CPC</label>
                    <div class="col-sm-8">
                        <select-box list="cpc" model="item.cpc_id" placeholder="Выберите" required="false" default="Не установлено"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-sm-2 control-label"></span>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <button type="button" class="btn {{vpbx_type_id == 1 ? 'btn-primary active' : 'btn-default'}}" ng-click="setVpbxType(1)">Транк ВАТС</button>
                            <button type="button" class="btn {{vpbx_type_id == 2 ? 'btn-primary active' : 'btn-default'}}" ng-click="setVpbxType(2)">Транк группа AST</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="vpbx_type_id == 1">
                    <label class="col-sm-4 control-label">Транк ВАТС</label>
                    <div class="col-sm-8">
                        <select-box list="trunk" model="item.vats_trunk_id" placeholder="Выберите" required="false" default="Не установлено"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-if="vpbx_type_id == 2">
                    <label class="col-sm-4 control-label">Транк группа AST</label>
                    <div class="col-sm-8">
                        <select-box list="trunkGroup" model="item.ast_trunk_group_id" placeholder="Выберите" required="false" default="Не установлено"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-hide="true" ng-if="vpbx_type_id == 2">
                    <label class="col-sm-4 control-label">Outcome AST</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" model="item.ast_outcome_id" placeholder="Выберите" required="false" default="Не установлено"></select-box>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="hubnumbercapacity">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Списки префиксов</label>
                    <div class="col-sm-10">
                        <select-box list="prefixlist" model="item.hub_number_capacity" multiple="multiple" placeholder="Выберите" required="false"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Исключить из номерной емкости</label>
                    <div class="col-sm-10">
                        <select-box list="prefixlist" model="item.hub_excluded_number_capacity" multiple="multiple" placeholder="Выберите" required="false"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Группы транков</label>
                    <div class="col-sm-10">
                        <select ui-select2 ng-model="item.trunk_groups" multiple="multiple" style="width: 100%">
                            <option ng-repeat="trunkGroup in trunk_group_list" value="{{trunkGroup.id}}">
                                {{trunkGroup.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="prefixlist_block">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Фильтр по номеру А</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.fsb_numa_blacklist_ids" placeholder="Выберите" required="false" default="Не установлено" multiple="multiple"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Фильтр по номеру B</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.fsb_numb_blacklist_ids" placeholder="Выберите" required="false" default="Не установлено" multiple="multiple"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Префикслисты</label>
                    <div class="col-sm-8">
                        <select ui-select2 ng-model="item.prefixlist_block" multiple="multiple" style="width: 100%">
                            <option ng-repeat="prefixlist in prefixlist_list" value="{{prefixlist.id}}">
                                {{prefixlist.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="spc">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Местный КПС</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.local_spc" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Зоновый КПС</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.zone_spc" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">МГ КПС</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.mg_spc" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">МН КПС</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.mn_spc" />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="mvno_link">
                <div ng-repeat="line in item.mvno_link">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Оператор</label>
                        <div class="col-sm-9">
                            <select ui-select2 ng-model="line.mvno_partner_id" style="width: 100%">
                                <option ng-repeat="partner in mvno_partner_list" value="{{partner.id}}">
                                    {{partner.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeMvnoLink($index)"></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Префикслисты номерной емкости</label>
                        <div class="col-sm-10">
                            <select-box list="prefixlist" model="line.number_capacity" multiple="multiple" placeholder="Выберите"
                                        required="false"></select-box>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Транки подключения</label>
                        <div class="col-sm-10">
                            <select-box list="trunk" model="line.mvno_trunk_ids" multiple="multiple" placeholder="Выберите"
                                        required="false"></select-box>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Группы транков</label>
                        <div class="col-sm-10">
                            <select-box list="trunkGroup" model="line.trunk_groups" multiple="multiple" placeholder="Выберите"
                                        required="false"></select-box>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Префикс RN</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="line.routing_number" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Префикслисты портированных номеров</label>
                        <div class="col-sm-10">
                            <select-box list="prefixlist" model="line.ported_number_prefixes" multiple="multiple" placeholder="Выберите"
                                        required="false"></select-box>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Исключить из номерной емкости</label>
                        <div class="col-sm-10">
                            <select-box list="prefixlist" model="line.excluded_number_prefixes" multiple="multiple" placeholder="Выберите"
                                        required="false"></select-box>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-10">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-success btn-xs" ng-click="addMvnoLink()"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="antifraud">
                <ul class="nav nav-tabs">
                    <li class="{{(nnpMode == EPVV_ANTIFRAUD) ? 'active' : '' }}">
                        <a href="#epvv" data-toggle="tab">ЕПВВ</a>
                    </li>
                    <li class="{{(nnpMode == EPVV_TRANSIT) ? 'active' : '' }}">
                        <a href="#epvv-transit" data-toggle="tab">ЕПВВ Транзит</a>
                    </li>
                </ul>
                
                <br/>

                <div class="tab-content">
                    <div id="epvv" class="tab-pane{{(nnpMode == EPVV_ANTIFRAUD) ? ' active' : '' }}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Действие:<br/>Timeout API запроса</label>
                            <div class="col-sm-8">
                                <select-box list="releaseReasonByServerId" param="{{server_id}}" model="item.epvv_timeout" default="CALL_ACCEPT"></select-box>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Действие:<br/>Код Error API запроса</label>
                            <div class="col-sm-8">
                                <select-box list="releaseReasonByServerId" param="{{server_id}}" model="item.epvv_error" default="CALL_ACCEPT"></select-box>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Действие:<br/>Код Call Rejected API запроса</label>
                            <div class="col-sm-8">
                                <select-box list="releaseReasonByServerId" param="{{server_id}}" model="item.epvv_reject" default="CALL_ACCEPT"></select-box>
                            </div>
                        </div>
                    </div>
                    <div id="epvv-transit" class="tab-pane{{(nnpMode == EPVV_TRANSIT) ? ' active' : '' }}">
                        <div class="form-group">
                            <div class="col-sm-12 d-flex align-items-center">
                                <label class="col-sm-2 control-label">Действие по умолчанию:</label>
                                <div class="btn-group" ng-click="item.epvv_transit_term = !item.epvv_transit_term">
                                    <button type="button" class="btn {{item.epvv_transit_term ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                                    <button type="button" class="btn {{!item.epvv_transit_term ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="col-sm-11 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Правило</th>
                                            <th>Группа транков</th>
                                            <th>A-номер</th>
                                            <th>B-номер</th>
                                            <th>C-номер</th>
                                            <th>A || C</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody ui-sortable="{axis: 'y'}" ng-model="item.epvvTransitRulesTermination">
                                        <tr ng-repeat="line in item.epvvTransitRulesTermination">
                                            <td width="5%">
                                                <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                                <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                            </td>
                                            <td>
                                                <select-box list="trunkGroup" model="line.trunk_group_id" default="Любая группа"></select-box>
                                            </td>
                                            <td>
                                                <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                            </td>
                                            <td>
                                                <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                            </td>
                                            <td>
                                                <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                            </td>
                                            <td>
                                                <div class="btn-group" ng-click="line.ac_mode = line.ac_mode === 1 ? 0 : 1">
                                                    <button type="button" class="btn btn-sm {{line.ac_mode === 1 ? 'btn-success active' : 'btn-default'}}">Да</button>
                                                    <button type="button" class="btn btn-sm {{line.ac_mode === 0 ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                                </div>
                                            </td>
                                            <td>
                                                <comment-icon key="{{line.id}}" type="epvvTransitRulesOrigination" comment="line.object_comment"></comment-icon>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeEpvvTransitRuleTermination($index)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                <button type="button" class="btn btn-success btn-xs" ng-click="addEpvvTransitRuleTermination()"><i class="glyphicon glyphicon-plus"></i> Добавить правило</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="tab-pane" id="bnumber">
                <div style="margin-left: 0.5%;" class="tab-content">
                    <div id="epvv" class="tab-pane{{(nnpMode == EPVV_ANTIFRAUD) ? ' active' : '' }}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Действие:<br/>Номер В не найден в ННП</label>
                            <div class="col-sm-8">
                                <select-box list="outcome" param="{{server_id}}" model="item.route_case_not_found_nnp" default="Выберите Outcome"></select-box>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Действие:<br/>Не смогли продать оригинационное плечо</label>
                            <div class="col-sm-8">
                                <select-box list="outcome" param="{{server_id}}" model="item.route_case_not_found_pricelist" default="Выберите Outcome"></select-box>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="corm" ng-if="userPermissions['corm_edit']">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#telemetry-calls" data-toggle="tab">Телеметрия вызовов</a></li>
                    <li><a href="#telemetry-dvo" data-toggle="tab">Телеметрия ДВО</a></li>
                </ul>
            
                <br/>
            
                <div class="tab-content">
                    <div class="tab-pane active" id="telemetry-calls">
                        
                        <!-- Правила Оригинации -->
                        <div class="form-group" style="margin-right: -200px;">
                            <div class="col-sm-8 d-flex align-items-center">
                                <label style="color: rgba(72,143,204,255); font-size: 17px">Правила</label>
                                <label class="col-sm-2 control-label">Действие по умолчанию:</label>
                                <div class="btn-group" ng-click="item.corm_orig = !item.corm_orig">
                                    <button type="button" class="btn {{item.corm_orig ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                                    <button type="button" class="btn {{!item.corm_orig ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                                </div>
                                <div ng-if="item.corm_orig" class="ml-2 d-flex align-items-center">
                                    <label class="control-label mr-2">СОРМ Адаптер:</label>
                                    <select-box class="small-adapter" list="adapter" model="item.call_telemetry_receiver_orig" param="{{server_id}}" default="Любой адаптер"></select-box>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group" style="margin-right: -200px;">
                            <div class="col-sm-10 table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Правило</th>
                                    <th>Группа транков</th>
                                    <th>A-номер</th>
                                    <th>B-номер</th>
                                    <th>C-номер</th>
                                    <th style="white-space: nowrap;">
                                      Направление 
                                      <span style="display: inline-block; width: 15px; height: 15px; text-align: center; line-height: 15px; border: 1px solid #ccc; border-radius: 50%; color: #fff; background-color: #4e7af1; font-weight: bold; cursor: help; margin-left: 4px;"
                                            data-toggle="tooltip" data-placement="top"
                                            title="DIR_TX – исходящий вызов от нашего абонента во внешнюю сеть&#10;DIR_RX – входящий вызов из внешней сети к нашему абоненту&#10;DIR_DX – транзитный вызов из сети в сеть&#10;DIR_LX – локальный вызов между нашими абонентами">
                                        i
                                      </span>
                                    </th>
                                    <th>Сорм адаптер</th>
                                    <th>A || C</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody ui-sortable="sortableOptions" ng-model="item.trunkRulesOrigination">
                                  <tr ng-repeat="line in item.trunkRulesOrigination">
                                    <td width="5%">
                                      <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                      <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                    </td>
                                    <td>
                                      <select-box list="trunkGroup" model="line.trunk_group_id" default="Любая группа"></select-box>
                                    </td>
                                    <td>
                                      <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                    </td>
                                    <td>
                                      <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                    </td>
                                    <td>
                                      <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                    </td>
                                    <td>
                                      <select ng-model="line.direction" 
                                              ng-options="option.value as option.label for option in item.directionOptions" 
                                              style="width: 100%; height: 26px; padding: 4px; font-size: 12px; border-radius: 4px; 
                                                     border: 1px solid #ccc; background-color: white;"
                                              ng-init="line.direction = line.direction || 'DIR_TX'">
                                      </select>
                                    </td>                                                                                      
                                    <td>
                                      <select-box list="adapter" model="line.telemetry_receiver_id" param="{{server_id}}" default="Любой адаптер"></select-box>
                                    </td>
                                    <td>
                                      <div class="btn-group" ng-click="line.ac_mode = line.ac_mode === 1 ? 0 : 1">
                                        <button type="button" class="btn btn-sm {{line.ac_mode === 1 ? 'btn-success active' : 'btn-default'}}">Да</button>
                                        <button type="button" class="btn btn-sm {{line.ac_mode === 0 ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                      </div>
                                    </td>
                                    <td>
                                      <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeTrunkRuleOrigination($index)"></button>
                                    </td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td colspan="11">
                                      <button type="button" class="btn btn-success btn-xs" ng-click="addTrunkRuleOrigination()">
                                        <i class="glyphicon glyphicon-plus"></i> Группа транков
                                      </button>
                                    </td>
                                  </tr>
                                </tfoot>
                              </table>
                            </div>
                          </div>
                        </div>


                    <div class="tab-pane" id="telemetry-dvo">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Действие по умолчанию:</label>
                            <div class="col-sm-8 d-flex align-items-center">
                                <div class="btn-group" ng-click="item.dvo_enable_default = !item.dvo_enable_default">
                                    <button type="button" class="btn" ng-class="{'btn-success active': item.dvo_enable_default, 'btn-default': !item.dvo_enable_default}">Разрешено</button>
                                    <button type="button" class="btn" ng-class="{'btn-danger active': !item.dvo_enable_default, 'btn-default': item.dvo_enable_default}">Запрещено</button>
                                </div>
                                <div ng-if="item.dvo_enable_default" class="ml-2 d-flex align-items-center">
                                    <label class="control-label mr-2">СОРМ Адаптер:</label>
                                    <select-box class="small-adapter" list="adapter" model="item.dvo_telemetry_receiver" param="{{server_id}}" default="Любой адаптер"></select-box>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Правила</label>
                            <div class="col-sm-10 table-responsive">
                                <table class="table table-striped">
                                    <tbody ui-sortable="{axis: 'y'}" ng-model="item.dvoRules">
                                        <tr ng-repeat="line in item.dvoRules">
                                            <td width="5%">
                                                <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                                <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                            </td>
                                            <td width="3%" style="cursor: ns-resize">
                                                <span ng-if="line.number_id_filter_a !== null">A:</span>
                                            </td>
                                            <td>
                                                <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                            </td>
                                            <td width="3%" style="cursor: ns-resize">
                                                <span ng-if="line.telemetry_receiver_id !== null">Сорм Адаптер:</span>
                                            </td>
                                            <td>
                                                <select-box list="adapter" model="line.telemetry_receiver_id" param="{{server_id}}" default="Любой адаптер"></select-box>
                                            </td>
                                            <td>
                                                <comment-icon key="{{line.id}}" type="dvo_rules" comment="line.object_comment"></comment-icon>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeDvoRule($index)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                <button type="button" class="btn btn-success btn-xs" ng-click="addDvoRule()"><i class="glyphicon glyphicon-plus"></i> Добавить правило</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>
</form>
