<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3>Общие настройки</h3>
    </div>
    <div class="modal-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#mainsettings" data-toggle="tab">Основные</a></li>
            <li><a href="#healthsettings" data-toggle="tab">Здоровье</a></li>
            <li><a href="#routingclass5" data-toggle="tab">Маршрутизация класс 5</a></li>
        </ul>

        <br/>

        <div class="tab-content">
            <div class="tab-pane active" id="mainsettings">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Hostname</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Название</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.name" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Название короткое</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.name_short" />
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-sm-4 control-label">Резервный сервер</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.hostname_reserve" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>пришел звонок MGMN-транка
                        вызова</label>
                    <div class="col-sm-7">
                        <select-box list="outcome" model="item.rc_mgmn_outcome_id"
                                    default="Выберите Outcome"></select-box>
                    </div>
                      <div class="btn-group" ng-click="item.rc_mgmn_action_disable = !item.rc_mgmn_action_disable">
                        <button type="button" class="btn btn-sm {{item.rc_mgmn_action_disable ? 'btn-success active' : 'btn-default'}}">Откл</button>
                        <button type="button" class="btn btn-sm {{!item.rc_mgmn_action_disable ? 'btn-primary active' : 'btn-default'}}">Вкл</button>
                      </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>rc_mgmnНе достаточно денег для совершения
                        вызова</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" model="item.low_balance_outcome_id"
                                    default="Выберите Outcome"></select-box>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Действие:<br/>Телефония заблокирована</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" model="item.blocked_outcome_id"
                                    default="Выберите Outcome"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Подмена А номера<br/>для линии без номера</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.calling_station_id_for_line_without_number" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Мин. цена для авто маршрутизации</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.min_price_for_autorouting" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Сервисные номера</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.service_numbers" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Список спец-служб</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.emergency_prefixlist_id" placeholder="Выберите"
                                    required="false" default="Без списка"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Номерная емкость MCN</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.mcn_prefixlist_id" placeholder="Выберите"
                                    required="false" default="Без списка"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Адрес SS сервера</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.nas_ip_address" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Фильтр по номеру А</label>
                    <div class="col-sm-8">
                        <select-box list="prefixlist" model="item.fsb_blacklist_id" placeholder="Выберите"
                                    required="false" default="Не установлено"></select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">СОРМ</label>

                    <div class="col-sm-8">
                      <div class="btn-group" ng-click="item.is_sormed = !item.is_sormed">
                        <button type="button" class="btn btn-sm {{item.is_sormed ? 'btn-success active' : 'btn-default'}}">Да</button>
                        <button type="button" class="btn btn-sm {{!item.is_sormed ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                      </div>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-4 control-label">В коммерции</label>
                    <div class="col-sm-8">
                      <div class="btn-group" ng-click="item.is_production = !item.is_production">
                        <button type="button" class="btn btn-sm {{item.is_production ? 'btn-success active' : 'btn-default'}}">Да</button>
                        <button type="button" class="btn btn-sm {{!item.is_production ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                      </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="healthsettings">

                <div class="form-group">
                    <label class="col-sm-4 control-label">call_sync_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_call_sync_delay" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">cdr_sync_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_cdr_sync_delay" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">call_save_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_call_save_delay" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">cdr_proc_wait_count</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_cdr_proc_wait_count" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">call_save_wait_count</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_call_save_wait_count" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">thread_error_count</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_thread_error_count" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">h_radius_request_delay</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_radius_request_delay" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">h_event_management</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_event_management" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">h_local_events</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="item.h_local_events" />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="routingclass5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Маршрутизировать на класс 5</label>
                    <div class="col-sm-8">
                        <div class="btn-group" ng-click="item.is_route_to_class5 = !item.is_route_to_class5">
                            <button type="button" class="btn btn-sm {{item.is_route_to_class5 ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_route_to_class5 ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Использовать Фазу 1 при маршрутизации на класс 5</label>
                    <div class="col-sm-2">
                        <div class="btn-group" ng-click="item.is_route_to_class5_phase1_enable = !item.is_route_to_class5_phase1_enable">
                            <button type="button" class="btn btn-sm {{item.is_route_to_class5_phase1_enable ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_route_to_class5_phase1_enable ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label">B-номер</label>
                    <div class="col-sm-4">
                        <select ui-select2 style="width: 100%" tags="true" placeholder="B-номер" ng-model="item.number_id_filter_b_route_to_class5" required>
                            <option value="">-- Выберите --</option>
                            <option ng-repeat="number in numbers" value="{{number.id}}">{{number.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <span class="col-sm-2 control-label"></span>
                    <div class="col-sm-10">
                        <div class="btn-group">
                            <button type="button" class="btn {{vpbx_type_id == 1 ? 'btn-primary active' : 'btn-default'}}" ng-click="setVpbxType(1)">Транк ВАТС</button>
                            <button type="button" class="btn {{vpbx_type_id == 2 ? 'btn-primary active' : 'btn-default'}}" ng-click="setVpbxType(2)">Транк группа AST</button>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="vpbx_type_id == 1">
                    <label class="col-sm-4 control-label">Транк ВАТС</label>
                    <div class="col-sm-8">
                        <select-box list="trunk" model="item.vats_trunk_id" placeholder="Выберите"
                                    required="false" default="Не установлено"></select-box>
                    </div>
                </div>

                <div class="form-group" ng-if="vpbx_type_id == 2">
                    <label class="col-sm-4 control-label">Транк группа AST</label>
                    <div class="col-sm-8">
                        <select-box list="trunkGroup" model="item.ast_trunk_group_id" placeholder="Выберите"
                                    required="false" default="Не установлено"></select-box>
                    </div>
                </div>

                <!-- Спрятано до лучших времен -->

                <div class="form-group" ng-hide="true" ng-if="vpbx_type_id == 2">
                    <label class="col-sm-4 control-label">Outcome AST</label>
                    <div class="col-sm-8">
                        <select-box list="outcome" model="item.ast_outcome_id" placeholder="Выберите"
                                    required="false" default="Не установлено"></select-box>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
