<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">
            Тест маршрутизации {{::item.name}}
            <button ng-if="item.id" type="button" class="btn btn-default btn-sm" style="float: right;" ng-click="cloneToCall(item.id)">Клонировать в тест звонков</button>
        </h3>
        <h3 ng-if="!item.id">Создание Теста маршрутизации</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Группа теста</label>
            <div class="col-sm-10">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Группа теста" ng-model="item.testgroup_id" required>
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="group in testGroupList" value="{{::group.id}}">{{::group.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Транк</label>
            <div class="col-sm-10">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Транк" ng-model="item.trunk_name" required>
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="trunk in trunkList" value="{{::trunk.trunk_name}}">{{::trunk.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер А</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Номер А" ng-model="item.src_number" required>
            </div>
            <label class="col-sm-2 control-label">NOA</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="NOA" ng-model="item.src_noa" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер B</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Номер B" ng-model="item.dst_number" required>
            </div>
            <label class="col-sm-2 control-label">NOA</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="NOA" ng-model="item.dst_noa" required>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер Redirect</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Номер Redirect" ng-model="item.redirect_number">
            </div>
            <label class="col-sm-2 control-label">NOA</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="NOA" ng-model="item.redirect_noa" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">CPC</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="CPC" ng-model="item.cpc">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ожидаемый ответ</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Ожидаемый ответ" ng-model="item.correct_answer">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">TTL</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="TTL" ng-model="item.ttl">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Примечание</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Примечание" ng-model="item.note"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Использовать маршрутизатор</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="1" ng-model="item.router_version">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Автотест</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.is_autotest = !item.is_autotest">
                    <button type="button" class="btn btn-sm {{item.is_autotest ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.is_autotest ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Дата тестирования</label>
            <div class="col-sm-6" style="margin-top: 7px;">
                <span>{{::item.tm}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Полученный ответ</label>
            <div class="col-sm-6" style="margin-top: 7px;">
                <span>{{::item.received}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Отладочная информация</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.with_debug_info = !item.with_debug_info">
                    <button type="button" class="btn btn-sm {{item.with_debug_info ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.with_debug_info ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Headers</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Headers" ng-model="item.headers"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="userPermissions['action_log_view']" key="{{item.id}}" type="json/test-auth"></action-log-view-button>
        </div>
    </div>

</form>
