<form class="form-horizontal" name="form">
    <div class="modal-header">
        <h3>Тестирование номера</h3>
    </div>

    <div class="modal-body" style="display:block; overflow:auto;">
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="params.number" required>
            </div>
        </div>

        <div>
            <button ng-click="processNumber()">Протестировать</button>
        </div>
        <br />
        <div ng-hide="!item">
            <span class="label label-success">Номер: {{item.number}}</span>
            <br />
            <br />
            {{displayNumberRange()}}
            <br />
            <br />
            <table class="table table-condensed">
                <tr>
                    <th>Город</th>
                    <th>NDC</th>
                    <th>Оператор</th>
                    <th>Портирован</th>
                    <th>Тип NDC</th>
                    <th>Регион</th>
                    <th>Оператор порт.</th>
                    <th>Слабое соответствие</th>
                </tr>
                <tr>
                    <td>{{item.number_range.nnp_city_id_name}}</td>
                    <td>{{item.number_range.ndc}}</td>
                    <td>{{item.number_range.nnp_operator_id_name}}</td>
                    <td>{{item.number_range.is_number_ported ? 'Да' : 'Нет'}}</td>
                    <td>{{item.number_range.ndc_type_id_name}}</td>
                    <td>{{item.number_range.nnp_region_id_name}}</td>
                    <td>{{item.number_range.ported_operator_id_name}}</td>
                    <td>{{item.number_range.weak_matching ? 'Да' : 'Нет'}}</td>
                </tr>
            </table>
            <br />
            <br />
            {{item.destination}}
            <br />
            <br />
            <table class="table table-condensed">
                <tr>
                    <th>ID</th>
                    <th>Направление</th>
                </tr>
                <tr ng-repeat="row in item.destination">
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>
</form>
