<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3>Просмотр лога генерации/удаления тестов</h3>
    </div>

    <div class="modal-body">
        <table class="table">
            <tr ng-repeat="row in item.file">
                <td nowrap>{{::row}}</td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
