<form class="form-horizontal" name="form">
    <div class="modal-header">
        <h3>Тестирование номера</h3>
    </div>

    <div class="modal-body" style="display:block; overflow:auto;">
        <div class="form-group">
            <label class="col-sm-2 control-label">Номер</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="params.number" required>
            </div>
        </div>

        <div>
            <button ng-click="processNumber()">Протестировать</button>
        </div>
        <br />
        <div ng-hide="!item">
            <span class="label label-success">Номер: {{item.number}}</span>
            <br />
            <br />
            <b>{{item.number_range}}</b>
            <br />
            <br />
            <b>{{item.destination}}</b>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>
</form>
