<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Результаты теста {{item.name}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Детальность</label>
            <div class="col-sm-10">
                <div class="btn-group">
                    <button type="button" class="btn {{details == 0 ? 'btn-primary active' : 'btn-default'}}" ng-click="details = 0">Результат</button>
                    <button type="button" class="btn {{details == 1 ? 'btn-primary active' : 'btn-default'}}" ng-click="details = 1">Инфо</button>
                    <button type="button" class="btn {{details == 2 ? 'btn-primary active' : 'btn-default'}}" ng-click="details = 2">Подробно</button>
                    <button type="button" class="btn {{details == 3 ? 'btn-primary active' : 'btn-default'}}" ng-click="details = 3">Отладка</button>
                </div>
            </div>
        </div>

        <table class="table" ng-if="details == 0">
            <tr ng-repeat="row in result" ng-style="{'color': (row.type=='RESULT' ? 'green' : 'black'),'font-weight':(row.type == 'ERROR' || row.type == 'RESULT'? 'bold' : 'normal')}" ng-if="row.type == 'ERROR' || row.type == 'RESULT'">
                <td nowrap>{{row.type}}</td>
                <td nowrap>{{row.action}}</td>
                <td width="100%">{{row.params}}</td>
            </tr>
        </table>

        <table class="table" ng-if="details == 1">
            <tr ng-repeat="row in result" ng-style="{'color': (row.type=='RESULT' ? 'green' : 'black'),'font-weight':(row.type == 'ERROR' || row.type == 'RESULT'? 'bold' : 'normal')}" ng-if="row.type == 'ERROR' || row.type == 'RESULT' || row.type == 'INFO'">
                <td nowrap>{{row.type}}</td>
                <td nowrap>{{row.action}}</td>
                <td width="100%">{{row.params}}</td>
            </tr>
        </table>

        <table class="table" ng-if="details == 2">
            <tr ng-repeat="row in result" ng-style="{'color': (row.type=='RESULT' ? 'green' : 'black'),'font-weight':(row.type == 'ERROR' || row.type == 'RESULT'? 'bold' : 'normal')}" ng-if="row.type == 'ERROR' || row.type == 'RESULT' || row.type == 'INFO' || row.type == 'DEBUG'">
                <td nowrap>{{row.type}}</td>
                <td nowrap>{{row.action}}</td>
                <td width="100%">{{row.params}}</td>
            </tr>
        </table>

        <table class="table" ng-if="details == 3">
            <tr ng-repeat="row in result" ng-style="{'color': (row.type=='RESULT' ? 'green' : 'black'),'font-weight':(row.type == 'ERROR' || row.type == 'RESULT'? 'bold' : 'normal')}">
                <td nowrap ng-if-start="!row_type_is_stage(row)">{{row.type}}</td>
                <td nowrap>{{row.action}}</td>
                <td width="100%" ng-if-end>{{row.params}}</td>
                <td colspan=3 ng-if="row_type_is_stage(row)" ng-class="'text-center'"><b>{{row.action}}</b></td>
            </tr>
        </table>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
