<style>
    [popover] {
        display: initial;
        position: initial;
        margin: initial;
    }
</style>
<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">
            Тест звонка {{item.name}}
            <button ng-if="item.id" type="button" class="btn btn-default btn-sm" style="float: right;" ng-click="cloneToAuth(item.id)">Клонировать в тест маршрутизации</button>
        </h3>
        <h3 ng-if="!item.id">Создание Теста звонка</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Группа теста</label>
            <div class="col-sm-10">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Группа теста" ng-model="item.testgroup_id" required>
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="group in testGroupList" value="{{group.id}}">{{group.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Транк оригинации</label>
            <div class="col-sm-6">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Транк" ng-model="item.src_trunk_name" required>
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="trunk in trunkList" value="{{trunk.trunk_name}}">{{trunk.name}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div class="btn-group" ng-click="item.orig = !item.orig">
                    <button type="button" class="btn {{item.orig ? 'btn-info active' : 'btn-default'}}">Оригинация</button>
                    <button type="button" class="btn {{!item.orig ? 'btn-warning active' : 'btn-default'}}">Терминация</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Транк терминации</label>
            <div class="col-sm-6">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Транк" ng-model="item.dst_trunk_name">
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="trunk in trunkList" value="{{trunk.trunk_name}}">{{trunk.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Время (UTC)</label>
            <div class="col-sm-6">
                <input popover="Используется текущее время" data-popover-trigger="{{hasPopover()}}" popover-placement="right" class="form-control" placeholder="{{item.is_autotest ? 'Используется текущее время' : 'Время (UTC)'}}" ng-model="item.connect_time" ng-required="!item.is_autotest" ng-disabled="item.is_autotest">
            </div>
            <label class="col-sm-2 control-label">Длительность</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="Длительность" ng-model="item.session_time" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Номер А</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Номер А" ng-model="item.src_number" required>
            </div>
            <label class="col-sm-2 control-label">NOA</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="NOA" ng-model="item.src_noa" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Номер B</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Номер B" ng-model="item.dst_number" required>
            </div>
            <label class="col-sm-2 control-label">NOA</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="NOA" ng-model="item.dst_noa" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Номер Redirect</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Номер Redirect" ng-model="item.redirect_number">
            </div>
            <label class="col-sm-2 control-label">NOA</label>
            <div class="col-sm-2">
                <input class="form-control" placeholder="NOA" ng-model="item.redirect_noa" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Dst replace</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Dst replace" ng-model="item.dst_replace">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">CPC</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Dst replace" ng-model="item.cpc">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ожидаемый ответ</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="Ожидаемый ответ" ng-model="item.correct_answer">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Примечание</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="Примечание" ng-model="item.note"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Автотест</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.is_autotest = !item.is_autotest">
                    <button type="button" class="btn btn-sm {{item.is_autotest ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.is_autotest ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Дата тестирования</label>
            <div class="col-sm-6" style="margin-top: 7px;">
                <span>{{item.tm}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Полученный ответ</label>
            <div class="col-sm-6" style="margin-top: 7px;">
                <span>{{item.received}}</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Отладочная информация</label>
            <div class="col-sm-10">
                <div class="btn-group" ng-click="item.with_debug_info = !item.with_debug_info">
                    <button type="button" class="btn btn-sm {{item.with_debug_info ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.with_debug_info ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="userPermissions['action_log_view']" key="{{item.id}}" type="json/test-call"></action-log-view-button>
        </div>
    </div>

</form>
