<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Результаты теста {{item.name}}</h3>
    </div>

    <div class="modal-body" style="display:block; overflow:auto;">
        <div class="form-group">
            <label class="col-sm-2 control-label">Детальность</label>
            <div class="col-sm-10">
                <div class="btn-group">
                    <button type="button" class="btn {{details == 1 ? 'btn-primary active' : 'btn-default'}}" ng-click="details = 1">Инфо</button>
                    <button type="button" class="btn {{details == 0 ? 'btn-primary active' : 'btn-default'}}" ng-click="details = 0">Дерево</button>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="result_renderer.html">
            <div ng-show="full_item.name != 'root'">
                <table class="table">
                    <tr>
                        <td nowrap width="5%"><span style="font-weight: bold;">{{level}}</span></td>
                        <td nowrap width="35%">
                            <span>Ушел в регион {{full_item.server_id}}.</span><br />
                            <span>{{full_item.orig_server_name}} [{{full_item.orig_name}}] : {{full_item.server_name}} [{{full_item.name}}] : TTL {{full_item.ttl}}</span>
                        </td>
                        <td nowrap width="15%"><button class="btn btn-warning" ng-click="isCollapsed = !isCollapsed">Результаты теста</button></td>
                        <td nowrap><button class="btn btn-info" ng-click="createTest(full_item)">Создать тест</button></td>
                    </tr>
                </table>
            </div>

            <div collapse="isCollapsed">
                <table class="table" ng-if="details == 1">
                    <tr ng-repeat="row in full_item.result track by $index" ng-style="{'color': (row.type=='RESULT' ? 'green' : 'black'),'font-weight':(row.type == 'ERROR' || row.type == 'RESULT'? 'bold' : 'normal')}" ng-if="row.type == 'ERROR' || row.type == 'RESULT' || row.type == 'INFO'">
                        <td nowrap>{{::row.type}}</td>
                        <td nowrap>{{::row.action}}</td>
                        <td ng-if="row.type != 'RESULT' || (row.type == 'RESULT' && !isObject(row.params))" width="100%">{{::row.params}}</td>
                        <td ng-if="row.type == 'RESULT' && isObject(row.params)" width="100%">
                            <span ng-repeat="param in row.params">
                                <a ng-if="param.is_url" href="#" ng-click="clickTrunk(param, full_item)">{{param.name}},</a>
                                <span ng-if="!param.is_url">{{param.name}},</span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-init="isCollapsed=true;level=level+1" ng-repeat="full_item in full_item.trace track by $index" ng-include="'result_renderer.html'">

            </div>
        </script>

        <div ng-if="details == 1" ng-init="isCollapsed=false;level=1" ng-include="'result_renderer.html'">

        </div>

        <script type="text/ng-template" id="nodes_renderer.html">
            <br />
            <div class="tree-container-bordered">
            <div ng-if="step.name" ui-tree-handle class="tree-node tree-node-content">
                <a class="btn btn-success btn-xs" ng-disabled="!step.steps" data-nodrag ng-click="toggle(this); descend(step)">
                    <span class="glyphicon" ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span>
                </a>
                <span ng-if="step.color && step.color == 'red'" class="bg-danger">{{step.name}}</span>
                <span ng-if="step.color && step.color == 'yellow'" class="bg-warning">{{step.name}}</span>
                <span ng-if="!step.color || (step.color != 'red' && step.color != 'yellow')">{{step.name}}</span>
            </div>
            <div ng-if="!step.name" style="display: inline-block;" ui-tree-handle class="tree-node tree-node-content">
                <table>
                    <tr>
                        <td style="vertical-align:top;">
                            <span class="label label-primary" ng-if="step.type == 'INFO'">[{{step.type}}]</span>
                            <span class="label label-info" ng-if="step.type == 'INPUT_DATA'">[{{step.type}}]</span>
                            <span class="label label-success" ng-if="step.type == 'RESULT_DATA'">[{{step.type}}]</span>
                            <span class="label label-danger" ng-if="step.type == 'ERROR'">[{{step.type}}]</span>
                            <span class="label label-warning" ng-if="step.type == 'DEBUG'">[{{step.type}}]</span>
                        </td>
                        <td>
                            &nbsp;
                            <span ng-if="step.color && step.color == 'red'" class="bg-danger">{{step.trace}}</span>
                            <span ng-if="step.color && step.color == 'yellow'" class="bg-warning">{{step.trace}}</span>
                            <span ng-if="!step.color || (step.color != 'red' && step.color != 'yellow')">{{step.trace}}</span>
                        </td>
                    </tr>
                </table>
                <br />
            </div>

            <ol ui-tree-nodes="" ng-model="step.steps" ng-class="{hidden: collapsed}">
                <li ng-repeat="step in step.steps" ui-tree-node collapsed="true" class="stripe" ng-include="'nodes_renderer.html'">
                </li>
            </ol>

            </div>
        </script>

        <div ng-if="details == 0">
            <button ng-click="collapseAll()">Свернуть все<div></div></button>
            <div ui-tree data-drag-enabled="false" id="tree-root">
                <ol ui-tree-nodes ng-model="result_new">
                    <li ng-repeat="step in result_new.steps" collapsed="true" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
