<div>
    <a ng-if="userPermissions['test_auth_create']" class="btn btn-primary search-form-button" ng-click="clickCreate()">Создать</a>
    <button type="submit" class="btn btn-success search-form-button" ng-click="clickSearch()">Поиск</button>
    <button type="submit" ng-hide="hideFilter" class="btn btn-warning search-form-button" ng-click="hideFilter = true">Скрыть фильтр</button>
    <button type="submit" ng-hide="!hideFilter" class="btn btn-info search-form-button" ng-click="hideFilter = false">Показать фильтр</button>
</div>
<h4>Тестирование маршрутизации</h4>

<form ng-hide="hideFilter">
    <div class="form-group">
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">ID</label>
                <div class="col-sm-10 search-input">
                    <input type="text" class="form-control" placeholder="Поиск" ng-model="searchArray.id" ng-keydown="$event.keyCode === 13 && refreshList()">
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Название</label>
                <div class="col-sm-10 search-input">
                    <input type="text" class="form-control" placeholder="Поиск" ng-model="searchArray.name" ng-keydown="$event.keyCode === 13 && refreshList()">
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Результат</label>
                <div class="col-sm-10 search-input">
                    <select class="search-form-select" ui-select2 style="width: 100%" placeholder="Результат" ng-model="searchArray.result" ng-change="refreshList()" required>
                        <option value="">Все тесты</option>
                        <option ng-repeat="result in testResultList" value="{{result.id}}">{{result.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 search-form-item first-form-item">
                <label class="col-sm-2 search-field-label">Транк</label>
                <div class="col-sm-10 search-input">
                    <select class="search-form-select" ui-select2 style="width: 100%" tags="true" placeholder="Транк" ng-model="searchArray.trunk_name" ng-change="refreshList()" required>
                        <option value="">-- Выберите транк --</option>
                        <option ng-repeat="trunk in trunkList" value="{{trunk.trunk_name}}">{{trunk.trunk_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-2 search-field-label">Группа</label>
                <div class="col-sm-10 search-input">
                    <select class="search-form-select" ui-select2 style="width: 100%" tags="true" placeholder="Группа" ng-model="searchArray.group_id" ng-change="refreshList()" required>
                        <option value="">-- Выберите группу --</option>
                        <option ng-repeat="group in testGroupList" value="{{group.id}}">{{group.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-4 search-form-item">
                <label class="col-sm-1 search-field-label">Регион</label>
                <div class="col-sm-5 search-input">
                    <div class="btn-group">
                        <button type="button" class="btn {{searchArray.ignore_region ? 'btn-primary active' : 'btn-default'}}" ng-click="searchArray.ignore_region = true">Все</button>
                        <button type="button" class="btn {{!searchArray.ignore_region ? 'btn-danger active' : 'btn-default'}}" ng-click="searchArray.ignore_region = false">Выбранный</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <pagination style="display: inline;" total-items="totalItems" max-size="10" previous-text="Предыдущие" next-text="Следующие" first-text="В начало" last-text="В конец" boundary-links="true" items-per-page="limit" page="currentPage" on-select-page="setPagingData(page)"></pagination>
    <button style="display: inline; margin-left: 10px;" class="btn btn-info" ng-click="runAll()">Запустить все</button>
    <button ng-if="userPermissions['test_auth_edit']" style="display: inline; margin-left: 10px;" class="btn btn-info" ng-click="clearCache()">Очистить кэш</button>
    <button ng-if="testGroupId == TEST_GROUP_AUTOMATIC && userPermissions['auto_test_management']" style="display: inline; margin-left: 10px;" class="btn btn-success" ng-click="generateTests()">Создать тесты</button>
    <button ng-if="testGroupId == TEST_GROUP_AUTOMATIC && userPermissions['auto_test_management']" style="display: inline; margin-left: 10px;" class="btn btn-danger" ng-click="deleteTests()">Удалить тесты</button>
    <button ng-if="testGroupId == TEST_GROUP_AUTOMATIC && userPermissions['auto_test_management']" style="display: inline; margin-left: 10px;" class="btn btn-warning" ng-click="viewTestsLog()">Открыть лог</button>
</div>

<table class="table table-striped table-hover table-condensed" >
    <thead>
        <tr>
            <th width="3%">
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    ID
                    <span ng-show="sortType == 'name' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'name' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="1%"> </th>
            <th width="1%">
                <a href="#" ng-click="sortType = 'server_id'; sortReverse = !sortReverse">
                    Регион
                    <span ng-show="sortType == 'server_id' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'server_id' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="10%">
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Название
                    <span ng-show="sortType == 'name' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'name' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="20%"></th>
            <th width="10%">
                <a href="#" ng-click="sortType = 'trunk_name'; sortReverse = !sortReverse">
                    Транк
                    <span ng-show="sortType == 'trunk_name' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'trunk_name' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="10%">
                <a href="#" ng-click="sortType = 'src_number'; sortReverse = !sortReverse">
                    Номер A
                    <span ng-show="sortType == 'src_number' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'src_number' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="10%">
                <a href="#" ng-click="sortType = 'dst_number'; sortReverse = !sortReverse">
                    Номер B
                    <span ng-show="sortType == 'dst_number' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'dst_number' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="15%">
                <a href="#" ng-click="sortType = 'redirect_number'; sortReverse = !sortReverse">
                    Номер Redirect
                    <span ng-show="sortType == 'redirect_number' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'redirect_number' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="10%">
                <a href="#" ng-click="sortType = 'redirect_number'; sortReverse = !sortReverse">
                    CPC
                    <span ng-show="sortType == 'redirect_number' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'redirect_number' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th ng-hide="!displayOnlineResult" width="5%">
                <a href="#" ng-click="sortType = 'redirect_number'; sortReverse = !sortReverse">
                    Результат
                    <span ng-show="sortType == 'redirect_number' && sortReverse" class="caret-down"></span>
                    <span ng-show="sortType == 'redirect_number' && !sortReverse" class="caret-up"></span>
                </a>
            </th>
            <th width="1%">&nbsp;</th>
            <th ng-if="userPermissions['test_auth_create']" width="1%">&nbsp;</th>
            <th>&nbsp;</th>
            <th ng-if="userPermissions['test_auth_delete']">&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="item in list | orderBy:sortType:sortReverse | basicFilter:searchQuery:filterFields">
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.id}}</td>
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>
                <img ng-if="item.is_autotest" src="../img/{{item.result}}.png">
            </td>
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.server_id}}</td>
            <td style="cursor: pointer; max-width: 470px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-click="clickItem(item)" nowrap>{{item.name}}</td>
            <td style="white-space: nowrap; text-align: left;">
                <button type="button" class="btn btn-default btn-sm" ng-click="showTestPrimary(item)" style="margin-right: 0px; font-size: 10px;">M</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="showTestReserve(item)" style="margin-right: 0px; font-size: 10px;">R</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="showTestDev(item)" style="margin-right: 0px; font-size: 10px;">D</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="showTest1001(item)" style="margin-right: 0px; font-size: 10px;">1</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="showTest1002(item)" style="margin-right: 0px; font-size: 10px;">2</button>
            </td>            
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.trunk_name}}</td>
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.src_number}}</td>
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.dst_number}}</td>
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.redirect_number}}</td>
            <td style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.cpc}}</td>
            <td ng-hide="!displayOnlineResult" style="cursor: pointer" ng-click="clickItem(item)" nowrap>{{item.result_online}}</td>
            <td style="cursor: pointer" ng-click="clickItem(item)">
                <span class="label label-success" ng-if="item.is_autotest">AUTO</span>
            </td>
            <td ng-if="userPermissions['test_auth_create']"><button type="button" class="btn btn-default btn-sm" ng-click="cloneTest(item)">Клонировать</button></td>
            <td>
                <comment-icon ng-if="item.id" key="{{item.id}}" type="test_auth" comment="item.object_comment"></comment-icon>
            </td>
            <td ng-if="userPermissions['test_auth_delete']"><button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="deleteItem(item)"></button></td>
        </tr>

    </tbody>
</table>