<div class="pull-right">
    <a class="btn btn-primary btn-sm" ng-click="clickCreate()">Создать</a>
</div>
<h4>Транки</h4>

<table class="table table-striped table-hover table-condensed" >
    <thead>
    <tr>
        <th>Ид</th>
        <th>Имя транка</th>
        <th>Название</th>
        <th>Емкость/Порог</th>
        <th>&nbsp;</th>
        <th>Таблица маршрутизации</th>
        <th width="1%">В регион</th>
        <th width="1%">Сервер</th>
        <th width="1%"></th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in list">
        <td style="cursor: pointer" ng-click="clickItem(item)">{{item.id}}</td>
        <td style="cursor: pointer" ng-click="clickItem(item)">{{item.trunk_name}}{{item.trunk_name_alias ? ' (' + item.trunk_name_alias + ')' : ''}}</td>
        <td style="cursor: pointer" ng-click="clickItem(item)">{{item.name}}</td>
        <td style="cursor: pointer" ng-click="clickItem(item)">{{item.capacity}}/{{item.load_warning}}%</td>
        <td style="cursor: pointer" ng-click="clickItem(item)">
            <span class="label label-success" ng-if="item.show_in_stat">СТАТ</span>
            <span class="label label-warning" ng-if="item.our_trunk">Наш транк</span>
            <span class="label label-info" ng-if="item.auth_by_number">Авторизация по номеру</span>
            <span class="label label-warning" ng-if="item.orig_redirect_number">Redirect Ориг</span>
            <span class="label label-warning" ng-if="item.term_redirect_number">Redirect Терм</span>
            <span class="label label-success" ng-if="item.auto_routing">LCR маршрутизация</span>
            <span class="label label-warning" ng-if="item.sw_shared">ОБЩИЙ</span>
        </td>
        <td>
            <a ng-if="item.routeTable.id" href="#" ng-click="openRouteTable(item.routeTable.id);">{{item.routeTable.name}}</a>
        </td>
        <td style="cursor: pointer" ng-click="clickItem(item)">{{item.road_to_region}}</td>
        <td style="cursor: pointer" ng-click="clickItem(item)">{{item.server_id}}</td>
        <td><button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-disabled="item.server_id != server.id" ng-click="deleteItem(item)"></button></td>
    </tr>

    </tbody>
</table>
