<style>
    [popover] {
        display: initial;
        position: initial;
        margin: initial;
    }
</style>
<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Группа транков {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание Группы транков</h3>
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs">
            <li ng-class="{active: selectedTab === 'trunk-group'}">
                <a href="" ng-click="selectedTab = 'trunk-group'">Группа транков</a>
            </li>
            <li ng-class="{active: selectedTab === 'rules-with-group'}">
                <a href="" ng-click="selectedTab = 'rules-with-group'">Правила с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'rules-routing-num-with-group'}">
                <a href="" ng-click="selectedTab = 'rules-routing-num-with-group'">Правила Routing Num с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'priority-with-group'}">
                <a href="" ng-click="selectedTab = 'priority-with-group'">Приоритеты с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'route-table-with-group'}">
                <a href="" ng-click="selectedTab = 'route-table-with-group'">Таблицы маршрутизации с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'outcome-with-group'}">
                <a href="" ng-click="selectedTab = 'outcome-with-group'">Outcome с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'group-with-group'}">
                <a href="" ng-click="selectedTab = 'group-with-group'">Группы транков с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'route-replace-with-group'}">
                <a href="" ng-click="selectedTab = 'route-replace-with-group'">Правила с атрибутами с группой</a>
            </li>
            <li ng-class="{active: selectedTab === 'rules-antifraud-with-group'}">
                <a href="" ng-click="selectedTab = 'rules-antifraud-with-group'">Правила Верификации с группой</a>
            </li>
        </ul>

        <br/>
        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: selectedTab === 'trunk-group'}" id="trunk-group-tab-{{pageIdSuffix}}">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: subTab === 'manual'}">
                        <a href="" ng-click="subTab = 'manual'">Вручную</a>
                    </li>
                    <li ng-class="{active: subTab === 'us_belonging'}">
                        <a href="" ng-click="subTab = 'us_belonging'">Принадлежность к УС</a>
                    </li>
                </ul>

                <br/>

                <div class="tab-content">
                    <div class="tab-pane" ng-class="{active: subTab === 'manual'}" id="manual-tab-{{pageIdSuffix}}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Название</label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Название" ng-model="item.name" maxlength="32" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Транки</label>
                            <div class="col-sm-10">
                                <select ui-select2 ng-model="item.trunks" multiple="multiple" style="width: 100%">
                                    <option ng-repeat="trunk in trunkList" value="{{::trunk.id}}">{{::trunk.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Доступна на хабе</label>
                            <div class="col-sm-10">
                                <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                                    <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                                    <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Доступна на бирже</label>
                            <div class="col-sm-10">
                                <div popover="Группа транков используется на бирже" data-popover-trigger="{{hasPopover()}}" popover-placement="bottom" ng-disabled="item.used_in_marketplace" class="btn-group" ng-click="!item.used_in_marketplace ? item.uplink_trunk_group = !item.uplink_trunk_group : ''">
                                    <button ng-disabled="item.used_in_marketplace" type="button" class="btn btn-sm {{item.uplink_trunk_group ? 'btn-success active' : 'btn-default'}}">Да</button>
                                    <button ng-disabled="item.used_in_marketplace" type="button" class="btn btn-sm {{!item.uplink_trunk_group ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" ng-class="{active: subTab === 'us_belonging'}" id="us_belonging-tab-{{pageIdSuffix}}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Название</label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Название" ng-model="item.name" maxlength="32" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Принадлежность к УС</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="usType" ng-change="filterTrunksByUsType(usType)" style="width: 180px;">
                                    <option value="1">1 – КУС</option>
                                    <option value="2">2 – МГМН</option>
                                </select>
                            </div>
                        </div>
                                                                                           

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Доступна на хабе</label>
                            <div class="col-sm-10">
                                <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                                    <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                                    <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-class="{active: selectedTab === 'rules-routing-num-with-group'}" id="rules-routing-num-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID транка</th>
                            <th>Название транка</th>
                            <th>По-умолчанию</th>
                            <th>Номер-А</th>
                            <th>Номер-B</th>
                            <th>Номер-C</th>
                            <th>A || C</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-model="item.findIntoRulesRoutingNums">
                        <tr ng-repeat="line in item.findIntoRulesRoutingNums">
                            <td>
                                {{line.trunk_id}}
                            </td>
                            <td style="cursor: pointer" ng-click="clickTrunkItem(line.trunk_id)">
                                {{line.trunk_name}}
                            </td>
                            <td>
                                <span ng-if="line.source_trunk_rule_default_allowed" class="label label-danger">Запрещено</span>
                                <span ng-if="!line.source_trunk_rule_default_allowed" class="label label-success">Разрешено</span>
                            </td>
                            <td>
                                <span ng-if="line.number_a_id">
                                    {{line.number_a_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_b_id">
                                    {{line.number_b_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_c_id">
                                    {{line.number_c_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.ac_mode">
                                    {{line.ac_mode == 1 ? 'Вкл' : 'Выкл'}} 
                                </span>
                            </td>
                            <td>
                                <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" ng-class="{active: selectedTab === 'rules-antifraud-with-group'}" id="rules-antifraud-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="10%" />
                        <col width="10%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID транка</th>
                            <th>Название транка</th>
                            <th>Тип верификации</th>
                            <th>Оригинация/терминация</th>
                            <th>По-умолчанию</th>
                            <th>Номер-А</th>
                            <th>Номер-B</th>
                            <th>Номер-C</th>
                            <th>A || C</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-model="item.findIntoRulesAntifraud">
                        <tr ng-repeat="line in item.findIntoRulesAntifraud">
                            <td>
                                {{line.trunk_id}}
                            </td>
                            <td style="cursor: pointer" ng-click="clickTrunkItem(line.trunk_id)">
                                {{line.trunk_name}}
                            </td>
                            <td>
                                <span ng-if="line.antifrod_system_type == 'mts'">МТС</span>
                                <span ng-if="line.antifrod_system_type == 'epvv'">EPVV</span>
                            </td>
                            <td>
                                <span ng-if="line.is_orig">Оригинация</span>
                                <span ng-if="!line.is_orig">Терминация</span>
                            </td>
                            <td>
                                <span ng-if="line.allow == false" class="label label-danger">Запрещено</span>
                                <span ng-if="line.allow == true" class="label label-success">Разрешено</span>
                            </td>
                            <td>
                                <span ng-if="line.number_a_id">
                                    {{line.number_a_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_b_id">
                                    {{line.number_b_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_c_id">
                                    {{line.number_c_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.ac_mode">
                                    {{line.ac_mode == 1 ? 'Вкл' : 'Выкл'}} 
                                </span>
                            </td>
                            <td>
                                <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" ng-class="{active: selectedTab === 'rules-with-group'}" id="rules-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID транка</th>
                            <th>Название транка</th>
                            <th>По-умолчанию</th>
                            <th>Номер-А</th>
                            <th>Номер-B</th>
                            <th>Номер-C</th>
                            <th>A || C</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-model="item.findIntoRules">
                        <tr ng-repeat="line in item.findIntoRules">
                            <td>
                                {{line.trunk_id}}
                            </td>
                            <td style="cursor: pointer" ng-click="clickTrunkItem(line.trunk_id)">
                                {{line.trunk_name}}
                            </td>
                            <td>
                                <span ng-if="line.source_trunk_rule_default_allowed" class="label label-danger">Запрещено</span>
                                <span ng-if="!line.source_trunk_rule_default_allowed" class="label label-success">Разрешено</span>
                            </td>
                            <td>
                                <span ng-if="line.number_a_id">
                                    {{line.number_a_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_b_id">
                                    {{line.number_b_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_c_id">
                                    {{line.number_c_name}}
                                </span>
                            </td>
                            <td>
                                <span >
                                    {{line.ac_mode == 1 ? 'Вкл' : 'Выкл'}} 
                                </span>
                            </td>
                            <td>
                                <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" ng-class="{active: selectedTab === 'priority-with-group'}" id="priority-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID транка</th>
                            <th>Название транка</th>
                            <th>Приоритет</th>
                            <th>Номер-А</th>
                            <th>Номер-B</th>
                            <th>Номер-C</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-model="item.findIntoPriorities">
                        <tr ng-repeat="line in item.findIntoPriorities">
                            <td>
                                {{line.trunk_id}}
                            </td>
                            <td style="cursor: pointer" ng-click="clickTrunkItem(line.trunk_id)">
                                {{line.trunk_name}}
                            </td>
                            <td>
                                {{line.priority}}
                            </td>
                            <td>
                                <span ng-if="line.number_a_id">
                                    {{line.number_a_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_b_id">
                                    {{line.number_b_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_c_id">
                                    {{line.number_c_name}}
                                </span>
                            </td>
                            <td>
                                <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_priority" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" ng-class="{active: selectedTab === 'route-table-with-group'}" id="route-table-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="79%" />
                        <col width="10%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сервер</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findRouteTables">
                    <tr ng-repeat="line in item.findRouteTables">
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(line.id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(line.id)">
                            {{line.name}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(line.id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <comment-icon ng-if="line.id" key="{{line.id}}" type="route_table" comment="line.object_comment"></comment-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" ng-class="{active: selectedTab === 'outcome-with-group'}" id="outcome-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="79%" />
                        <col width="10%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сервер</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findOutcomes">
                    <tr ng-repeat="line in item.findOutcomes">
                        <td style="cursor: pointer" ng-click="clickOutcomeItem(line.id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickOutcomeItem(line.id)">
                            {{line.name}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickOutcomeItem(line.id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <comment-icon ng-if="line.id" key="{{line.id}}" type="outcome" comment="line.object_comment"></comment-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" ng-class="{active: selectedTab === 'group-with-group'}" id="group-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="79%" />
                        <col width="10%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сервер</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findGroups">
                    <tr ng-repeat="line in item.findGroups">
                        <td style="cursor: pointer" ng-click="clickGroupItem(line.id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickGroupItem(line.id)">
                            {{line.name}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickGroupItem(line.id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_group" comment="line.object_comment"></comment-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="tab-pane" ng-class="{active: selectedTab === 'route-replace-with-group'}" id="route-replace-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="16%" />
                        <col width="16%" />
                        <col width="16%" />
                        <col width="16%" />
                        <col width="16%" />
                        <col width="16%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Номер</th>
                        <th>Сервер</th>
                        <th>Номер-А</th>
                        <th>Номер-B</th>
                        <th>Номер-C</th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findRouteReplace">
                    <tr ng-repeat="line in item.findRouteReplace">
                        <td style="cursor: pointer" ng-click="clickRouteReplaceItem(line.server_id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteReplaceItem(line.server_id)">
                            {{line.order}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteReplaceItem(line.server_id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <span ng-if="line.number_a_id">
                                {{line.number_a_name}}
                            </span>
                        </td>
                        <td>
                            <span ng-if="line.number_b_id">
                                {{line.number_b_name}}
                            </span>
                        </td>
                        <td>
                            <span ng-if="line.number_c_id">
                                {{line.number_c_name}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading" ng-if="userPermissions['trunk_group_edit']" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/trunk-group"></action-log-view-button>
        </div>
    </div>

</form>
