<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Группа транков {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание Группы транков</h3>
    </div>
    <div class="modal-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#trunk-group-tab-{{pageIdSuffix}}" data-toggle="tab">Группа транков</a></li>
            <li><a href="#rules-with-group-{{pageIdSuffix}}" data-toggle="tab">Правила с группой</a></li>
            <li><a href="#priority-with-group-{{pageIdSuffix}}" data-toggle="tab">Приоритеты с группой</a></li>
            <li><a href="#route-table-with-group-{{pageIdSuffix}}" data-toggle="tab">Таблицы маршрутизации с группой</a></li>
            <li><a href="#outcome-with-group-{{pageIdSuffix}}" data-toggle="tab">Outcome с группой</a></li>
            <li><a href="#group-with-group-{{pageIdSuffix}}" data-toggle="tab">Группы транков с группой</a></li>
        </ul>

        <br/>

        <div class="tab-content">
            <div class="tab-pane active" id="trunk-group-tab-{{pageIdSuffix}}">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Название" ng-model="item.name" maxlength="32" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Транки</label>
                    <div class="col-sm-10">
                        <select ui-select2 ng-model="item.trunks" multiple="multiple" style="width: 100%" >
                            <option ng-repeat="trunk in trunkList" value="{{::trunk.id}}">{{::trunk.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Группы транков</label>
                    <div class="col-sm-10">
                        <select ui-select2 ng-model="item.trunk_groups" multiple="multiple" style="width: 100%" >
                            <option ng-repeat="trunkGroup in trunkGroupList" value="{{::trunkGroup.id}}">{{::trunkGroup.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Доступна на хабе</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.sw_shared = !item.sw_shared">
                            <button type="button" class="btn btn-sm {{item.sw_shared ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.sw_shared ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Доступна на бирже</label>
                    <div class="col-sm-10">
                        <div popover="Группа транков используется на бирже" data-popover-trigger="{{hasPopover()}}" popover-placement="bottom" ng-disabled="item.used_in_marketplace" class="btn-group" ng-click="!item.used_in_marketplace ? item.uplink_trunk_group = !item.uplink_trunk_group : ''">
                            <button ng-disabled="item.used_in_marketplace" type="button" class="btn btn-sm {{item.uplink_trunk_group ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button ng-disabled="item.used_in_marketplace" type="button" class="btn btn-sm {{!item.uplink_trunk_group ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="rules-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID транка</th>
                            <th>Название транка</th>
                            <th>По-умолчанию</th>
                            <th>Номер-А</th>
                            <th>Номер-B</th>
                            <th>Номер-C</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-model="item.findIntoRules">
                        <tr ng-repeat="line in item.findIntoRules">
                            <td>
                                {{line.trunk_id}}
                            </td>
                            <td style="cursor: pointer" ng-click="clickTrunkItem(line.trunk_id)">
                                {{line.trunk_name}}
                            </td>
                            <td>
                                <span ng-if="line.source_trunk_rule_default_allowed" class="label label-danger">Запрещено</span>
                                <span ng-if="!line.source_trunk_rule_default_allowed" class="label label-success">Разрешено</span>
                            </td>
                            <td>
                                <span ng-if="line.number_a_id">
                                    {{line.number_a_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_b_id">
                                    {{line.number_b_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_c_id">
                                    {{line.number_c_name}}
                                </span>
                            </td>
                            <td>
                                <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="priority-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="*" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID транка</th>
                            <th>Название транка</th>
                            <th>Приоритет</th>
                            <th>Номер-А</th>
                            <th>Номер-B</th>
                            <th>Номер-C</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-model="item.findIntoPriorities">
                        <tr ng-repeat="line in item.findIntoPriorities">
                            <td>
                                {{line.trunk_id}}
                            </td>
                            <td style="cursor: pointer" ng-click="clickTrunkItem(line.trunk_id)">
                                {{line.trunk_name}}
                            </td>
                            <td>
                                {{line.priority}}
                            </td>
                            <td>
                                <span ng-if="line.number_a_id">
                                    {{line.number_a_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_b_id">
                                    {{line.number_b_name}}
                                </span>
                            </td>
                            <td>
                                <span ng-if="line.number_c_id">
                                    {{line.number_c_name}}
                                </span>
                            </td>
                            <td>
                                <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_priority" comment="line.object_comment"></comment-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="route-table-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="79%" />
                        <col width="10%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сервер</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findRouteTables">
                    <tr ng-repeat="line in item.findRouteTables">
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(line.id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(line.id)">
                            {{line.name}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickRouteTableItem(line.id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <comment-icon ng-if="line.id" key="{{line.id}}" type="route_table" comment="line.object_comment"></comment-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="outcome-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="79%" />
                        <col width="10%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сервер</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findOutcomes">
                    <tr ng-repeat="line in item.findOutcomes">
                        <td style="cursor: pointer" ng-click="clickOutcomeItem(line.id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickOutcomeItem(line.id)">
                            {{line.name}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickOutcomeItem(line.id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <comment-icon ng-if="line.id" key="{{line.id}}" type="outcome" comment="line.object_comment"></comment-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="group-with-group-{{pageIdSuffix}}">
                <table class="table table-striped">
                    <colgroup>
                        <col width="10%" />
                        <col width="79%" />
                        <col width="10%" />
                        <col width="1%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сервер</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-model="item.findGroups">
                    <tr ng-repeat="line in item.findGroups">
                        <td style="cursor: pointer" ng-click="clickGroupItem(line.id)">
                            {{line.id}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickGroupItem(line.id)">
                            {{line.name}}
                        </td>
                        <td style="cursor: pointer" ng-click="clickGroupItem(line.id)">
                            {{line.server_id}}
                        </td>
                        <td>
                            <comment-icon ng-if="line.id" key="{{line.id}}" type="trunk_group" comment="line.object_comment"></comment-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
