<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Оператор {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание Оператора</h3>
    </div>

    <div class="modal-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#trunk" data-toggle="tab">Транк</a></li>
            <li><a href="#trunk_extra" data-toggle="tab">Дополнительно</a></li>
            <li><a href="#priority" data-toggle="tab">Приоритеты</a></li>

            <li><a href="#numbers_rules_orig_a" data-toggle="tab">Правила Orig A</a></li>
            <li><a href="#numbers_rules_orig_b" data-toggle="tab">Правила Orig B</a></li>
            <li><a href="#numbers_rules_term_a" data-toggle="tab">Правила Term A</a></li>
            <li><a href="#numbers_rules_term_b" data-toggle="tab">Правила Term B</a></li>

            <li><a href="#trunk_rules" data-toggle="tab">Правила</a></li>
            <li><a href="#number_preprocessing" data-toggle="tab">Препроцессинг</a></li>
            <li><a href="#sorm_edit" data-toggle="tab">ПП-538</a></li>
        </ul>

        <br />

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="trunk" ng-include="'/templates/tabs/trunk_edit/trunk.html'"></div>
            <div class="tab-pane" id="trunk_extra" ng-include="'/templates/tabs/trunk_edit/trunk_extra.html'"></div>

            <div class="tab-pane" id="priority" ng-include="'/templates/tabs/trunk_edit/priority.html'"></div>

            <div class="tab-pane" id="numbers_rules_orig_a" ng-include="'/templates/tabs/trunk_edit/numbers_rules.html'" ng-if="true" onload="mode = transcriptMode('orig-a')"></div>
            <div class="tab-pane" id="numbers_rules_orig_b" ng-include="'/templates/tabs/trunk_edit/numbers_rules.html'" ng-if="true" onload="mode = transcriptMode('orig-b')"></div>
            <div class="tab-pane" id="numbers_rules_term_a" ng-include="'/templates/tabs/trunk_edit/numbers_rules.html'" ng-if="true" onload="mode = transcriptMode('term-a')"></div>
            <div class="tab-pane" id="numbers_rules_term_b" ng-include="'/templates/tabs/trunk_edit/numbers_rules.html'" ng-if="true" onload="mode = transcriptMode('term-b')"></div>

            <div class="tab-pane" id="trunk_rules" ng-include="'/templates/tabs/trunk_edit/trunk_rules.html'"></div>

            <div class="tab-pane" id="number_preprocessing" ng-include="'/templates/tabs/trunk_edit/number_preprocessing.html'"></div>
            <div class="tab-pane" id="sorm_edit" ng-include="'/templates/tabs/trunk_edit/sorm_edit.html'"></div>

        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <div ng-hide="!item.do_sync || item.auto_routing == item.default_auto_routing" class="btn btn-warning">
                Прайс-листы будут синхронизированы
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary btn-sm" ng-click="openServiceTrunks()">Логические транки</button>
        </div>
    </div>

</form>
