<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Транк {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание транка</h3>
    </div>
    <div class="modal-body">

        <div class="form-group" ng-if="version.editable">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group" ng-if="version.editable">
            <label class="col-sm-2 control-label">Номер</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Номер" ng-model="item.number" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Cpc</label>
            <div class="col-sm-10">
                <select-box list="cpc" model="item.cpc_id" default="Выберите Cpc"></select-box>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Таблица маршрутизации</label>
            <div class="col-sm-10">
                <select-box list="routeTable" model="item.route_table_id" default="Выберите таблицу маршрутизации"></select-box>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Полная выгрузка</label>
            <div class="col-sm-10">
                <input type="checkbox" ng-model="item.full_export">
            </div>
        </div>

        <div class="form-group" ng-if="item.id">
            <label class="col-sm-4 control-label">Конфигурация OpenCA</label>
            <div class="col-sm-8">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="/trunk/show?id={{item.id}}&versionId={{item.config_version_id}}" target="_blank">Открыть</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="/trunk/download?id={{item.id}}&versionId={{item.config_version_id}}">Скачать</a>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button ng-if="version.editable" type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
        </div>
    </div>

</form>
