<div class="input-group input-group-sm">
    <select ui-select2 data-placeholder="Выберите..." ng-model="value"  style="width: 100%">
        <option value=""></option>
        <option value="newOutcome">-- Создать Outcome --</option>
        <option value="newRouteTable">-- Создать Таблицу маршрутизации --</option>
        <option ng-repeat="item in listOutcome" value="{{'oc_' + item.id}}">{{item.name}}</option>
        <option ng-repeat="item in listRouteTable" value="{{'rt_' + item.id}}">Таблица: {{item.name}}</option>
    </select>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="open(value)">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </span>
</div>