html,
body {
	height: 100%;
    font-size: 12px;
}

.list-group-item {
    padding: 6px 8px;
}

.btn {
    padding: 4px 8px;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 3px 6px;
}

.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 10px;
}

.label {
    font-size: 11px;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

input.ng-invalid {
    background-color: #ffcdc4;
}

@media (min-width: 768px) {
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        width: 1160px;
        margin: 30px auto;
    }
}

.main-tabs > .nav {
    display: none;
}

td > div > .select2-container {
    padding: 0;
    border-width: 0;
    width: 100%;
}

td > div > .select2-container > .select2-choice {
    height: 30px;
    line-height: 30px;
}


.form-group {
    margin-bottom: 5px;
}

.form-control {
    padding: 6px 6px;
}

.caret-down:before {
	content: "\25bc";
	color: gray;
}

.caret-up:before {
	content: "\25b2";
	color: gray;
}

.tree-container-bordered {
	border-left: 3px solid lightgrey;
	padding-left: 2px;
}

.tree-container-bordered * {
	padding-left: 2px;
}

.bg-danger {
	background-color: #FA7777;
}

.bg-warning {
	background-color: #f0ad4e;
}

.div-warning {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.angular-ui-tree-empty {
	display: none;
}

.popover{
	max-width: 100%;
}

.popover-content {
	white-space: pre-wrap;
}