<div>
    <a class="btn btn-primary btn-sm pull-right" ng-click="clickCreate()">Создать</a>
    <h4>Денежное дерево</h4>
</div>

<br />

<script type="text/ng-template" id="nodes_renderer.html">
    <br />
    <div class="tree-container-bordered">
        <div ng-if="subitem.name" ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs"  data-nodrag ng-click="toggle(this); descend(subitem, collapsed, true)">
                <span class="glyphicon" ng-class="{
                  'glyphicon-chevron-right': collapsed,
                  'glyphicon-chevron-down': !collapsed
                }"></span>
            </a>
            <span>
                <span ng-if="subitem.name == 'master' || !subitem.real_name">[{{subitem.name}}]:</span><span ng-if="subitem.name !== 'master' && subitem.real_name">[{{subitem.name}}: {{subitem.real_name}}]:</span>
                <br ng-if="subitem.month"/><span ng-if="subitem.month">[Месяц&nbsp;&nbsp;&nbsp;&nbsp;<span ng-repeat="(key, value) in subitem.month">| {{value.duration}} сек; {{value.money}} {{key}}; {{(value.duration > 0) ? (value.money/value.duration*60).toPrecision(4) : 0}} {{key}}/мин</span>]</span>
                <br ng-if="subitem.week"/><span ng-if="subitem.week">[Неделя&nbsp;&nbsp;<span ng-repeat="(key, value) in subitem.week">| {{value.duration}} сек; {{value.money}} {{key}}; {{(value.duration > 0) ? (value.money/value.duration*60).toPrecision(4) : 0}} {{key}}/мин</span>]</span>
                <br ng-if="subitem.yesterday"/><span ng-if="subitem.yesterday">[Вчера&nbsp;&nbsp;&nbsp;&nbsp;<span ng-repeat="(key, value) in subitem.yesterday">| {{value.duration}} сек; {{value.money}} {{key}}; {{(value.duration > 0) ? (value.money/value.duration*60).toPrecision(4) : 0}} {{key}}/мин</span>]</span>
                <br ng-if="subitem.month"/><span ng-if="subitem.today">[Сегодня&nbsp;<span ng-repeat="(key, value) in subitem.today">| {{value.duration}} сек; {{value.money}} {{key}}; {{(value.duration > 0) ? (value.money/value.duration*60).toPrecision(4) : 0}} {{key}}/мин</span>]</span>
            </span>
        </div>

        <ol ui-tree-nodes="" ng-model="subitem.sub" ng-class="{hidden: collapsed}">
            <li ng-repeat="subitem in subitem.sub" ui-tree-node collapsed="true" class="stripe" ng-include="'nodes_renderer.html'">
            </li>
        </ol>

    </div>
</script>

<div>
    Дерево растет уже {{result.sub[0].first_call_delta}}
    <br />
    <button ng-click="collapseAll()">Свернуть все<div></div></button>
    <div ui-tree="treeOptions" data-drag-enabled="false" id="tree-root">
        <ol ui-tree-nodes ng-model="result">
            <li ng-repeat="subitem in result.sub" collapsed="false" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>
