<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">GT {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание GT</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">GT</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="GT" ng-model="item.gt" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Oper</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Oper" ng-model="item.oper" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Country" ng-model="item.country" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Area</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Area" ng-model="item.area" required>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/camel/gt"></action-log-view-button>
        </div>
    </div>

</form>
