<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Outcome {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание Outcome</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="Название" ng-model="item.name" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Тип</label>
            <div class="col-sm-6">
                <select ui-select2 style="width: 100%" tags="true" placeholder="Группа" ng-model="item.type_id" required>
                    <option value="">-- Выберите --</option>
                    <option ng-repeat="type in outcomeTypeList" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Аргументы Outcome</label>
            <div class="col-sm-1" style="width:100px;">
                <div class="btn-group" ng-click="item.f_use_arguments = !item.f_use_arguments">
                    <button type="button" class="btn btn-sm {{item.f_use_arguments ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.f_use_arguments ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
            <div class="col-sm-2">
                <input class="form-control" ng-hide="!item.f_use_arguments" ng-model="item.arguments">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Установить лимит кредита</label>
            <div class="col-sm-6" style="width:100px;">
                <div class="btn-group" ng-click="item.f_set_credit_limit = !item.f_set_credit_limit">
                    <button type="button" class="btn btn-sm {{item.f_set_credit_limit ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.f_set_credit_limit ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Проверять B-номер</label>
            <div class="col-sm-6" style="width:100px;">
                <div class="btn-group" ng-click="item.f_check_b_number = !item.f_check_b_number">
                    <button type="button" class="btn btn-sm {{item.f_check_b_number ? 'btn-success active' : 'btn-default'}}">Да</button>
                    <button type="button" class="btn btn-sm {{!item.f_check_b_number ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading" ng-if="userPermissions['camel_outcome_edit']" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/camel/outcome"></action-log-view-button>
        </div>
    </div>

</form>
