<style>
    [popover] {
        display: initial;
        position: initial;
        margin: initial;
    }
</style>
<form class="form-horizontal" name="form" ng-if="item">
    <div class="modal-header">
        <h3 ng-if="item.id">Транк {{item.name}}</h3>
        <h3 ng-if="!item.id">Создание транка</h3>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li class="active"><a class="trunk-header" href="#trunk" data-toggle="tab">Транк</a></li>
            <li><a class="trunk-header" href="#camel_gt_rule" data-toggle="tab">Перфикс GT</a></li>
            <li><a class="trunk-header" href="#number_preprocessing" data-toggle="tab">Препроцессинг</a></li>
            <li><a class="trunk-header" href="#trunk_antifraud" data-toggle="tab">Верификация</a></li>
        </ul>

        <br />

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" id="trunk_antifraud">

                <ul class="nav nav-tabs">
                    <li class="{{(camelNnpMode == CAMEL_MTS_ANTIFRAUD) ? 'active' : '' }}">
                        <a href="#mts" data-toggle="tab">МТС</a>
                    </li>
                    <li class="{{(camelNnpMode == CAMEL_EPVV_ANTIFRAUD) ? 'active' : '' }}">
                        <a href="#epvv" data-toggle="tab">ЕПВВ</a>
                    </li>
                </ul>
                <br/>

                <div style="margin-left: 0.5%;" class="tab-content">
                    <div id="mts" class="tab-pane{{(camelNnpMode == CAMEL_MTS_ANTIFRAUD) ? ' active' : '' }}">
                        <div class="form-group">
                                <div class="col-sm-10">
                                    <label style="color: rgba(72,143,204,255); font-size: 17px">Правила Оригинации</label>
                                    <label style="margin-left: 1%; color: rgba(72,143,204,255); font-size: 17px">Действие по умолчанию</label>
                                    <div style="margin-left: 0.2%" class="btn-group" ng-click="item.mts_orig = !item.mts_orig">
                                        <button type="button" class="btn {{item.mts_orig ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                                        <button type="button" class="btn {{!item.mts_orig ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <table class="table table-striped">
                                    <tbody ui-sortable="{axis: 'y'}" ng-model="item.camelTrunkRulesAntifraud">
                                    <tr ng-repeat="line in item.camelTrunkRulesAntifraud" ng-if="line.antifrod_system_type == 'mts' && line.is_orig">
                                        <td width="5%">
                                            <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                            <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.uvr_group_id !== null">Uvrs</span>
                                        </td>
                                        <td>
                                            <select ui-select2 ng-model="line.uvr_group_id">
                                                <option ng-repeat="group in uvrGroup" value="{{group.id}}">
                                                    {{group.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_a !== null">A:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_b !== null">B:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_c !== null">C:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 40px;">
                                            <span>A || C</span>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 70px;" width="7%" ">
                                            <div class="btn-group" ng-click="line.ac_mode = !line.ac_mode">
                                                <button type="button" class="btn btn-sm {{line.ac_mode ? 'btn-success active' : 'btn-default'}}">Да</button>
                                                <button type="button" class="btn btn-sm {{!line.ac_mode ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                            </div>
                                        </td>
                                        <td>
                                            <comment-icon key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeCamelTrunkAntifraudRule($index)"></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="11">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="addCamelTrunkAntifraudRule('mts_orig', 'mts', true)"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <label style="color: rgba(72,143,204,255); font-size: 17px">Правила Терминации</label>
                                <label style="margin-left: 1%; color: rgba(72,143,204,255); font-size: 17px">Действие по умолчанию</label>
                                <div style="margin-left: 0.2%" class="btn-group" ng-click="item.mts_term = !item.mts_term">
                                    <button type="button" class="btn {{item.mts_term ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                                    <button type="button" class="btn {{!item.mts_term ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-sm-10">
                                <table class="table table-striped">
                                    <tbody ui-sortable="{axis: 'y'}" ng-model="item.camelTrunkRulesAntifraud">
                                        <tr ng-repeat="line in item.camelTrunkRulesAntifraud" ng-if="line.antifrod_system_type == 'mts' && !line.is_orig">
                                        <td width="5%">
                                            <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                            <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.uvr_group_id !== null">Uvrs</span>
                                        </td>
                                        <td>
                                            <select ui-select2 ng-model="line.uvr_group_id">
                                                <option ng-repeat="group in uvrGroup" value="{{group.id}}">
                                                    {{group.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_a !== null">A:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_b !== null">B:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_c !== null">C:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 40px;">
                                            <span>A || C</span>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 70px;" width="7%" ">
                                            <div class="btn-group" ng-click="line.ac_mode = !line.ac_mode">
                                                <button type="button" class="btn btn-sm {{line.ac_mode ? 'btn-success active' : 'btn-default'}}">Да</button>
                                                <button type="button" class="btn btn-sm {{!line.ac_mode ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                            </div>
                                        </td>
                                        <td>
                                            <comment-icon key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeCamelTrunkAntifraudRule($index)"></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="11">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="addCamelTrunkAntifraudRule('mts_term', 'mts', false)"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="epvv" class="tab-pane{{(camelNnpMode == CAMEL_EPVV_ANTIFRAUD) ? ' active' : '' }}">
                        <div class="form-group">
                                <div class="col-sm-10">
                                    <label style="color: rgba(72,143,204,255); font-size: 17px">Правила Оригинации</label>
                                    <label style="margin-left: 1%; color: rgba(72,143,204,255); font-size: 17px">Действие по умолчанию</label>
                                    <div style="margin-left: 0.2%" class="btn-group" ng-click="item.epvv_orig = !item.epvv_orig">
                                        <button type="button" class="btn {{item.epvv_orig ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                                        <button type="button" class="btn {{!item.epvv_orig ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <table class="table table-striped">
                                    <tbody ui-sortable="{axis: 'y'}" ng-model="item.camelTrunkRulesAntifraud">
                                    <tr ng-repeat="line in item.camelTrunkRulesAntifraud" ng-if="line.antifrod_system_type == 'epvv' && line.is_orig">
                                        <td width="5%">
                                            <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                            <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.uvr_group_id !== null">Uvrs</span>
                                        </td>
                                        <td>
                                            <select ui-select2 ng-model="line.uvr_group_id">
                                                <option ng-repeat="group in uvrGroup" value="{{group.id}}">
                                                    {{group.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_a !== null">A:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_b !== null">B:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_c !== null">C:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 40px;">
                                            <span>A || C</span>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 70px;" width="7%" ">
                                            <div class="btn-group" ng-click="line.ac_mode = !line.ac_mode">
                                                <button type="button" class="btn btn-sm {{line.ac_mode ? 'btn-success active' : 'btn-default'}}">Да</button>
                                                <button type="button" class="btn btn-sm {{!line.ac_mode ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                            </div>
                                        </td>
                                        <td>
                                            <comment-icon key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeCamelTrunkAntifraudRule($index)"></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="11">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="addCamelTrunkAntifraudRule('epvv_orig', 'epvv', true)"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <label style="color: rgba(72,143,204,255); font-size: 17px">Правила Терминации</label>
                                <label style="margin-left: 1%; color: rgba(72,143,204,255); font-size: 17px">Действие по умолчанию</label>
                                <div style="margin-left: 0.2%" class="btn-group" ng-click="item.epvv_term = !item.epvv_term">
                                    <button type="button" class="btn {{item.epvv_term ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                                    <button type="button" class="btn {{!item.epvv_term ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <table class="table table-striped">
                                    <tbody ui-sortable="{axis: 'y'}" ng-model="item.camelTrunkRulesAntifraud">
                                        <tr ng-repeat="line in item.camelTrunkRulesAntifraud" ng-if="line.antifrod_system_type == 'epvv' && !line.is_orig">
                                        <td width="5%">
                                            <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                            <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.uvr_group_id !== null">Uvrs</span>
                                        </td>
                                        <td>
                                            <select ui-select2 ng-model="line.uvr_group_id">
                                                <option ng-repeat="group in uvrGroup" value="{{group.id}}">
                                                    {{group.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_a !== null">A:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_a" param="1" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_b !== null">B:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_b" param="2" default="Любой номер"></select-box>
                                        </td>

                                        <td width="3%" style="cursor: ns-resize">
                                            <span ng-if="line.number_id_filter_c !== null">C:</span>
                                        </td>
                                        <td>
                                            <select-box list="number" model="line.number_id_filter_c" param="3" default="Любой номер"></select-box>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 40px;">
                                            <span>A || C</span>
                                        </td>
                                        <td style="padding-bottom: 3px;padding-right: 1px;padding-left: 1px; min-width: 70px;" width="7%" ">
                                            <div class="btn-group" ng-click="line.ac_mode = !line.ac_mode">
                                                <button type="button" class="btn btn-sm {{line.ac_mode ? 'btn-success active' : 'btn-default'}}">Да</button>
                                                <button type="button" class="btn btn-sm {{!line.ac_mode ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                                            </div>
                                        </td>
                                        <td>
                                            <comment-icon key="{{line.id}}" type="trunk_rules" comment="line.object_comment"></comment-icon>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeTrunkAntifraudRule($index)"></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="11">
                                            <button type="button" class="btn btn-success btn-xs" ng-click="addCamelTrunkAntifraudRule('epvv_term', 'epvv', false)"><i class="glyphicon glyphicon-plus"></i> Добавить</button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="trunk">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Название" ng-model="item.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Таблица маршрутизации</label>
                    <div class="col-sm-10">
                        <camel-select-box list="routeTable" model="item.camel_route_table_id" required></camel-select-box>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Транк розница</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Транк розница" ng-model="item.trunk_mcn">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Транк оператор</label>
                    <div class="col-sm-10">
                        <input class="form-control" placeholder="Транк оператор" ng-model="item.trunk_tele2">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Транслировать в CDR</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.insert_cdr = !item.insert_cdr">
                            <button type="button" class="btn btn-sm {{item.insert_cdr ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.insert_cdr ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Маршрутизировать входящие звонки</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.is_route_incoming_calls = !item.is_route_incoming_calls">
                            <button type="button" class="btn btn-sm {{item.is_route_incoming_calls ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.is_route_incoming_calls ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Не копировать С в А</label>
                    <div class="col-sm-10">
                        <div class="btn-group" ng-click="item.no_copy_numc_to_numa = !item.no_copy_numc_to_numa">
                            <button type="button" class="btn btn-sm {{item.no_copy_numc_to_numa ? 'btn-success active' : 'btn-default'}}">Да</button>
                            <button type="button" class="btn btn-sm {{!item.no_copy_numc_to_numa ? 'btn-primary active' : 'btn-default'}}">Нет</button>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Местоположение транка</label>
                    <div class="col-sm-10">
                        <select ui-select2 ng-model="item.location_id" style="width: 100%" >
                            <option ng-repeat="locationId in locationIds" value="{{locationId.id}}">{{locationId.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="camel_gt_rule">
                <div class="form-group">
                    <div class="col-sm-3" style="float: right;">
                        <label class="col-sm-5 control-label" style="margin-bottom: 5%; margin-right: 2%;">По умолчанию</label>
                        <div class="btn-group" ng-click="item.gt_rule_default_allowed=!item.gt_rule_default_allowed">
                            <button type="button" class="btn btn-sm {{item.gt_rule_default_allowed ? 'btn-success active' : 'btn-default'}}">Разрешено</button>
                            <button type="button" class="btn btn-sm {{!item.gt_rule_default_allowed ? 'btn-danger active' : 'btn-default'}}">Запрещено</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        
                        <table class="table table-striped table-condensed">
                            <tbody ui-sortable="{axis: 'y'}" ng-model="item.camelGtRules">
                            <tr ng-repeat="line in item.camelGtRules">
                                <td>{{$index + 1}}</td>
                                <td width="7%" style="cursor: ns-resize">
                                    <button ng-if="line.allow" ng-click="line.allow = !line.allow" class="btn label label-success">Разрешено</button>
                                    <button ng-if="!line.allow" ng-click="line.allow = !line.allow" class="btn label label-danger">Запрещено</button>
                                </td>
                                <td>
                                    <label class="col-sm-2 control-label">Префикслист GT</label>
                                    <div class="col-sm-10">
                                        <select-box list="prefixlistByCamelShared" model="line.prefixlist_id"></select-box>
                                    </div>
                                </td>

                                <td>
                                    <comment-icon key="{{line.id}}" type="camel_gt_rule" comment="line.object_comment"></comment-icon>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeCamelGtRule($index)"></button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="20">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="addCamelGtRule()"><i class="glyphicon glyphicon-plus"></i> Добавить GT префикс</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="number_preprocessing">
                <div class="form-group">
                    <div class="col-sm-12">
                        <table class="table table-striped table-condensed">
                            <tbody ui-sortable="{axis: 'y'}" ng-model="item.numberPreprocessing">
                            <tr ng-repeat="line in item.numberPreprocessing">
                                <td>{{$index + 1}}</td>
                                <td width="7%" style="cursor: ns-resize">
                                    <span ng-if="line.abc_mode == 1" class="label label-default">A-номер</span>
                                    <span ng-if="line.abc_mode == 2" class="label label-default">B-номер</span>
                                    <span ng-if="line.abc_mode == 4" class="label label-default">GT-номер</span>
                                </td>
                                <td><input type="checkbox" class="col-sm-8"  ng-checked="line.auth" ng-click="line.auth=!line.auth">Auth</input></td>
                                <td><input type="checkbox" class="col-sm-8"  ng-checked="line.acc" ng-click="line.acc=!line.acc">Acc</input></td>
                                <td width="13%">
                                    <select ui-select2 ng-model="line.mod_type" placeholder="round" style="width: 100%" >
                                        <option ng-repeat="numPreproc in trunkNumberPreprocessingType" value="{{numPreproc.id}}">{{numPreproc.name}}</option>
                                    </select>
                                </td>
                                <!--Старый способ с префиксом-->
                                <td ng-if="preprocPrefix(line)" width="5%" style="cursor: ns-resize">
                                    Длина номера:
                                </td>
                                <td ng-if="preprocPrefix(line)" width="10%">
                                    <input class="form-control" ng-model="line.length" required />
                                </td>
                                <td ng-if="preprocPrefix(line)" width="5%" style="cursor: ns-resize">
                                    Преф.:
                                </td>
                                <td ng-if="preprocPrefix(line)" width="10%">
                                    <input class="form-control" ng-model="line.prefix" required />
                                </td>

                                <!-- Начало/Конец -->
                                <td ng-if="preprocPosRange(line)" width="1%" style="cursor: ns-resize">
                                    Начало:
                                </td>
                                <td ng-if="line.mod_type == 1" width="1%" style="cursor: ns-resize">
                                    Позиция:
                                </td>
                                <td ng-if="preprocPosRange(line) || line.mod_type == 1" width="1%">
                                    <input class="form-control" style="width: 30px;min-width: 30px;" ng-model="line.start_pos" required />
                                </td>
                                <td ng-if="preprocPosRange(line)" width="1%" style="cursor: ns-resize">
                                    Конец:
                                </td>
                                <td ng-if="preprocPosRange(line)" width="1%">
                                    <input class="form-control" style="width: 30px;min-width: 30px;" ng-model="line.end_pos" required />
                                </td>
                                
                                <td ng-if="!preprocPosRange(line)" colspan="2" width="1%" style="cursor: ns-resize">
                                </td>
                                
                                <td ng-if="line.mod_type == 5" width="1%" style="cursor: ns-resize">
                                    A/B/ C/GT:
                                </td>
                                <td ng-if="line.mod_type == 5" width="10%">
                                    <select-box list="numberAll" model="line.number_id" default="Любой номер"></select-box>
                                </td>
                                
                                <td ng-if="line.mod_type == 2" width="5%" colspan="2" style="cursor: ns-resize">
                                </td>
                                
                                <td ng-if="line.mod_type == 5" width="1%" style="cursor: ns-resize">
                                    Преф.:
                                </td>
                                <td ng-if="preprocValue(line) && line.mod_type == 5" width="1%">
                                    <input class="form-control" style="width: 60px;min-width: 60px;" ng-model="line.prefix" />
                                </td>
                                
                                <td ng-if="preprocValue(line)" width="5%" style="cursor: ns-resize">
                                    Regex:
                                </td>
                                <td ng-if="preprocValue(line) && line.mod_type == 5" width="20%">
                                    <input class="form-control" style="min-width:60px;" ng-model="line.regex" />
                                </td>
                                <td ng-if="preprocValue(line) && line.mod_type != 5" colspan="5" width="20%">
                                    <input class="form-control" ng-model="line.regex" />
                                </td>

                                <td ng-if="preprocValue(line)" width="5%" style="cursor: ns-resize">
                                    Знач.:
                                </td>
                                <td ng-if="preprocValue(line)" width="5%">
                                    <input class="form-control" style="width: 50px;" ng-model="line.mod_value" required />
                                </td>

                                <td ng-if="!preprocPosRange(line) && line.mod_type != 1 && line.mod_type != 2" colspan="6" style="cursor: ns-resize"></td>
                                <td ng-if="line.mod_type == 3" colspan="8" style="cursor: ns-resize"></td>

                                <td><input type="checkbox" class="col-sm-8" ng-checked="line.avoid_mod" ng-click="line.avoid_mod=!line.avoid_mod" popover="Без модификаторов" data-popover-trigger="mouseenter" popover-placement="top">Б/М</input></td>
                                <td>
                                    <comment-icon key="{{line.id}}" type="trunk_preprocessing" comment="line.object_comment"></comment-icon>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-minus" ng-click="removeNumberPreprocessing($index)"></button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="20">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(1)"><i class="glyphicon glyphicon-plus"></i> А-номер</button>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(2)"><i class="glyphicon glyphicon-plus"></i> B-номер</button>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="addNumberPreprocessing(4)"><i class="glyphicon glyphicon-plus"></i> GT-номер</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || $root.isAjaxLoading" ng-if="item.id && userPermissions['camel_trunk_edit']" ng-click="save()">Сохранить</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="back()">Закрыть</button>
            <action-log-view-button ng-if="item.id && userPermissions['action_log_view']" key="{{item.id}}" type="json/camel/trunk"></action-log-view-button>
        </div>
    </div>

</form>
