<form class="form-horizontal" name="form" novalidate>
  <div class="modal-header">
    <h3>Глобальные настройки</h3>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="col-sm-4 control-label">Действие: Код Error API запроса</label>
      <div class="col-sm-8">
        <div class="btn-group">
          <button type="button"
                  class="btn"
                  ng-class="!settings.antifraud_error_check ? 'btn-success active':'btn-default'"
                  ng-click="setMode('error', false)">
            Вручную
          </button>
          <button type="button"
                  class="btn"
                  ng-class=" settings.antifraud_error_check ? 'btn-danger active':'btn-default'"
                  ng-click="setMode('error', true)">
            Accept
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Действие: Код Call Rejected API запроса отказов</label>
      <div class="col-sm-8">
        <div class="btn-group">
          <button type="button"
                  class="btn"
                  ng-class="!settings.antifraud_reject_check ? 'btn-success active':'btn-default'"
                  ng-click="setMode('reject', false)">
            Вручную
          </button>
          <button type="button"
                  class="btn"
                  ng-class=" settings.antifraud_reject_check ? 'btn-danger active':'btn-default'"
                  ng-click="setMode('reject', true)">
            Accept
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Действие: Timeout API запроса</label>
      <div class="col-sm-8">
        <div class="btn-group">
          <button type="button"
                  class="btn"
                  ng-class="!settings.antifraud_timeout_check ? 'btn-success active':'btn-default'"
                  ng-click="setMode('timeout', false)">
            Вручную
          </button>
          <button type="button"
                  class="btn"
                  ng-class=" settings.antifraud_timeout_check ? 'btn-danger active':'btn-default'"
                  ng-click="setMode('timeout', true)">
            Accept
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit"
            class="btn btn-success"
            ng-click="save()"
            ng-disabled="form.$invalid">
      Сохранить
    </button>
    <button type="button"
            class="btn btn-default btn-sm"
            ng-click="close()">
      Закрыть
    </button>
  </div>
</form>
