<form class="form-horizontal" name="form" ng-if="item">
  <div class="modal-header">
    <h3 ng-if="item.node_id">Редактирование узла: {{item.node_name_id}} (#{{item.node_id}})</h3>
    <h3 ng-if="!item.node_id">Создание нового узла</h3>
  </div>
  <div class="modal-body">
    <!-- Название узла -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Название</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Введите название узла" ng-model="item.node_name_id" required>
      </div>
    </div>
    <!-- Тип узла -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Тип</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="item.node_type_id"
                ng-options="type.node_type_id as type.node_type for type in nodeTypes" required>
          <option value="">-- Выберите тип --</option>
        </select>
      </div>
    </div>
    <!-- Статус узла -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Статус</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="item.node_status_id"
                ng-options="status.node_status_id as status.node_status for status in nodeStatuses" required>
          <option value="">-- Выберите статус --</option>
        </select>
      </div>
    </div>
    <!-- IP адрес -->
    <div class="form-group">
      <label class="col-sm-2 control-label">IP адрес</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Введите IP адрес" ng-model="item.ipaddress">
      </div>
    </div>
    <!-- Адрес -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Адрес</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Введите адрес" ng-model="item.address">
      </div>
    </div>
    <!-- Федеральный округ -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Фед. округ</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="item.russian_district_id"
                ng-options="district.russian_district_id as district.russian_district for district in russianDistricts" required>
          <option value="">-- Выберите округ --</option>
        </select>
      </div>
    </div>
    <!-- Субъект РФ -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Субъект РФ</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="item.russian_subject_id"
                ng-options="subject.russian_subject_id as subject.russian_subject for subject in russianSubjects" required>
          <option value="">-- Выберите субъект --</option>
        </select>
      </div>
    </div>
    <!-- Город РФ -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Город РФ</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="item.russian_city_id"
                ng-options="city.russian_city_id as city.russian_city for city in russianCities" required>
          <option value="">-- Выберите город --</option>
        </select>
      </div>
    </div>
    <!-- Комментарий -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Комментарий</label>
      <div class="col-sm-10">
        <textarea class="form-control" placeholder="Введите комментарий" ng-model="item.comment"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || $root.isAjaxLoading">Сохранить</button>
    <button type="button" class="btn btn-default" ng-click="back()">Закрыть</button>
  </div>
</form>
