<div class="modal-header">
  <h3 class="modal-title">A2P SMS Raw Details (cdr_id: {{cdrId}})</h3>
</div>
<div class="modal-body">
  <div ng-if="loading" class="text-center">
    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i> Загрузка…
  </div>
  <div ng-if="errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <table ng-if="!loading && !errorMessage" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Orig</th>
        <th>Server</th>
        <th>SMS Call ID</th>
        <th>Account</th>
        <th>Charge Time</th>
        <th>Src</th>
        <th>Dst</th>
        <th>Rate</th>
        <th>Cost</th>
        <th>Count</th>
        <th>MSISDN</th>
        <th>IMSI</th>
        <th>MCC</th>
        <th>MNC</th>
        <th>cdr_id</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in smsDetails">
        <td>{{r.id}}</td>
        <td>{{r.orig}}</td>
        <td>{{r.server_id}}</td>
        <td>{{r.sms_call_id}}</td>
        <td>{{r.account_id}}</td>
        <td>{{r.charge_time}}</td>
        <td>{{r.src_number}}</td>
        <td>{{r.dst_number}}</td>
        <td>{{r.rate}}</td>
        <td>{{r.cost}}</td>
        <td>{{r.count}}</td>
        <td>{{r.msisdn}}</td>
        <td>{{r.imsi}}</td>
        <td>{{r.mcc}}</td>
        <td>{{r.mnc}}</td>
        <td>{{r.cdr_id}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Закрыть</button>
</div>
