<style>
    [popover] { display:initial; position:initial; margin:initial; }
    .search-form-item .search-field-label { text-align:right; padding-top:7px; }
    .search-input { padding-top:5px; }
  </style>
  
  <h4>
    A2P SMS CDR
    <button type="button" class="btn btn-success search-form-button"
            ng-click="clickSearch()">Поиск</button>
    <button type="button" class="btn btn-warning search-form-button"
            ng-hide="!hideFilter"
            ng-click="hideFilter = false">Показать фильтр</button>
    <button type="button" class="btn btn-info search-form-button"
            ng-hide=" hideFilter"
            ng-click="hideFilter = true">Скрыть фильтр</button>
  </h4>
  
  <form ng-show="!hideFilter">
    <div class="form-group">
      <!-- Row 1: Server ID, Limit -->
      <div class="row">
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">Server ID</label>
          <div class="col-sm-9 search-input">
            <input class="form-control" placeholder="Введите Server ID"
                   ng-model="item.server_id" ng-change="clickSearch()">
          </div>
        </div>
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">Limit</label>
          <div class="col-sm-9 search-input">
            <input class="form-control" placeholder="100"
                   ng-model="item.limit" ng-change="clickSearch()">
          </div>
        </div>
      </div>
  
      <!-- Row 2: SMS ID, Src Number -->
      <div class="row">
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">SMS ID</label>
          <div class="col-sm-9 search-input">
            <input class="form-control" placeholder="Введите SMS ID"
                   ng-model="item.sms_id" ng-change="clickSearch()">
          </div>
        </div>
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">Src Number</label>
          <div class="col-sm-9 search-input">
            <input class="form-control" placeholder="Введите Src Number"
                   ng-model="item.src_number" ng-change="clickSearch()">
          </div>
        </div>
      </div>
  
      <!-- Row 3: Dst Number, Status -->
      <div class="row">
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">Dst Number</label>
          <div class="col-sm-9 search-input">
            <input class="form-control" placeholder="Введите Dst Number"
                   ng-model="item.dst_number" ng-change="clickSearch()">
          </div>
        </div>
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">Status</label>
          <div class="col-sm-9 search-input">
            <select class="form-control" ui-select2
                    ng-model="item.status" ng-change="clickSearch()">
              <option value="">-- Любой --</option>
              <option value="DELIVERED">DELIVERED</option>
              <option value="FAILED">FAILED</option>
              <!-- дополняйте по вашей справочнике -->
            </select>
          </div>
        </div>
      </div>
  
      <!-- Row 4: Время Absolute/Relative -->
      <div class="row">
        <div class="form-group col-sm-6 search-form-item">
          <label class="col-sm-3 search-field-label">Время</label>
          <div class="col-sm-9 search-input">
            <div class="btn-group" style="margin-right:10px;">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span ng-if="item.is_time_absolute">Absolute</span>
                <span ng-if="!item.is_time_absolute">Relative</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href ng-click="item.is_time_absolute=true; clickSearch()">Absolute</a></li>
                <li><a href ng-click="item.is_time_absolute=false; clickSearch()">Relative</a></li>
              </ul>
            </div>
  
            <!-- Absolute -->
            <span ng-if="item.is_time_absolute" style="display:inline-block;">
              <input type="text" class="form-control" style="width:200px;display:inline-block"
                     ng-model="item.time_from" placeholder="From" ng-change="clickSearch()">
              &ndash;
              <input type="text" class="form-control" style="width:200px;display:inline-block"
                     ng-model="item.time_to" placeholder="To" ng-change="clickSearch()">
            </span>
  
            <!-- Relative -->
            <span ng-if="!item.is_time_absolute" style="display:inline-block;">
              <select class="form-control" style="width:250px;display:inline-block"
                      ui-select2 ng-model="item.time_relative" ng-change="clickSearch()">
                <option value="">-- Выберите --</option>
                <option ng-repeat="ti in timeIntervals" value="{{ti.id}}">{{ti.name}}</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div ng-hide="!isLoading" class="text-center">Идёт загрузка…</div>
  <div ng-hide="!noData" class="text-center">Нет данных.</div>
  
  <table ng-hide="noData" class="table table-striped table-hover">
    <thead>
      <tr>
        <th><a href ng-click="sort('id')">ID</a></th>
        <th><a href ng-click="sort('server_id')">Server</a></th>
        <th><a href ng-click="sort('sms_id')">SMS ID</a></th>
        <th><a href ng-click="sort('dt_create')">Date</a></th>
        <th><a href ng-click="sort('src_number')">Src Number</a></th>
        <th><a href ng-click="sort('dst_number')">Dst Number</a></th>
        <th><a href ng-click="sort('src_route')">Src Route</a></th>
        <th><a href ng-click="sort('dst_route')">Dst Route</a></th>
        <th><a href ng-click="sort('status')">Status</a></th>
        <th><a href ng-click="sort('props')">Props</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in list | orderBy:sortType:sortReverse" ng-click="openA2pSmsRawModal(item)" style="cursor: pointer;">
        <td>{{item.id}}</td>
        <td>{{item.server_id}}</td>
        <td>{{item.sms_id}}</td>
        <td>{{item.dt_create}}</td>
        <td>{{item.src_number}}</td>
        <td>{{item.dst_number}}</td>
        <td>{{item.src_route}}</td>
        <td>{{item.dst_route}}</td>
        <td>{{item.status}}</td>
        <td>{{item.props}}</td>
        
      </tr>
    </tbody>
  </table>
  