<form class="form-horizontal" name="form" ng-if="item">
  <div class="modal-header">
    <h3 ng-if="item.id">Узел передачи данных: {{item.name}}</h3>
    <h3 ng-if="!item.id">Создание узла передачи данных</h3>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <label class="col-sm-2 control-label">ID</label>
      <div class="col-sm-10">
        <input class="form-control"
               placeholder="ID"
               ng-model="item.id"
               required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Название</label>
      <div class="col-sm-10">
        <input class="form-control"
               placeholder="Название"
               ng-model="item.name"
               required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Тип</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="item.type" required>
          <option value="MCMCN">MCMCN</option>
          <option value="Yate">Yate</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Описание</label>
      <div class="col-sm-10">
        <textarea class="form-control"
                  placeholder="Описание"
                  ng-model="item.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">IP</label>
      <div class="col-sm-10">
        <input class="form-control"
               placeholder="IP"
               ng-model="item.ip"
               required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Host</label>
      <div class="col-sm-10">
        <input class="form-control"
               placeholder="Host"
               ng-model="item.host"
               required>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <button type="submit"
              class="btn btn-success"
              ng-disabled="form.$invalid"
              ng-click="save()">Сохранить</button>
      <button type="button"
              class="btn btn-default btn-sm"
              ng-click="back()">Закрыть</button>
      <action-log-view-button
        ng-if="item.id && userPermissions['action_log_view']"
        key="{{item.id}}"
        type="json/sms/sms-gate">
      </action-log-view-button>
    </div>
  </div>
</form>
